%header#main_header.main_header
  .box_header_inner
    .header_logo
      = link_to "" do
        =image_tag "https://lh3.googleusercontent.com/8JyUhnDfQISj0H_MMKBtqJrxxnCPsrwJ7RNTGOenYmWE5st2ZLrFYISyoLxQooauaOIxFpBG04fltcWTF9beNAh-OBuZWjignsBwX5p9_wZzutnVLFGGmLoQ9OgBwvYEg43Nr3oj2ky8IHDq4A1AbxRrunBNwzxUO1VgGWIa4DD1w4Bt-TyJZKjU4hKrgKrle3LIWT3JYsMqHV59E-2p26dzqNRPCIYQ3JyrOtLz2LDWtiBi2fd4mRgrja7VyaZ2GMaZpwoeehKMM2PCvqd7J4oU1eHedMuqMvQFMIy-AAcbEk9hOBFeOoEMe_gfe9DtltiW9RWm1NvcbqqtmeM1M0w67nTioPaxXFyRcHZpWVR8i6MgLF5yBGPJEgkzsQDP7hP5jxVkUw8yXfggOvwirguVZy480kAXblKkTMXoUVYfUxa3r_nNNBZlhAAyR7rbjGxnbqZIUOrFBWxLJlRMGTGnHuUPJD0ybIeQWRpGdAnvxEgu3hwEWi1xhNlvJs571SNGEhkiT1R1qZygw69RsQUV0h0cve7ygMiK-J-0JtyRN9aZWKT1O-WJh9sHLiXehyZWyTwF2zWyZKDs3E6irJvIP1ZUL6IrvvVd5R0zzvAlbQh4c8mjWj0-annBq8QZbrnidT_qu7MCGJoWcbuM2WtKz-gqlKEP=w864-h342-no", width: "88"
    %p.pairs_concept Facebookではじめる恋愛・結婚
    %ul.box_header_notifCentered
      %li#notifCentered_item.notifCentered_item.notifCentered_messeage
        =link_to "",class: "hide" do
          #header_matching_count
    %div
