%li.list_view_user_item
  %div
    %div
      %div
        %a.showPersonalViewModal
          %img.list_view_user_photo.image-circle{height: "152", src: "https://photos-3.dropbox.com/t/2/AACyHZKQtMEvHbEpD96nVxc9DEhLzYc_8y0XAEPDFMzj4A/12/535539453/jpeg/32x32/1/_/1/2/%E8%A5%BF%E9%87%8E%E4%B8%83%E7%80%AC.jpeg/EJD5seoJGC4gBygH/EIqGYvBUCs2N34RpvLSgbs9eQUuWoSHX2ZKN484rLZ4?size=2048x1536&size_mode=3", width: "152"}/
  .PrivateMode
    .box_user_info01
      %p.user_summary
        %span.is_3days
        %span.user_area{limit_length: "5"} 東京
        %span.user_age 23歳
    .box_user_info03
      %p.user_chemistry.user_chemistry_a.is_chemistry_heart75_a
        60%
      %p.user_like_count.user_like_count_a
        %span
          %em 100
      .user_tweet
        .user_tweet_body
          はじめまして！
    .box_button_like
      %div
        %span
          %a.button_like.button_like_default.button_pink_c.button_like_view.button_d{href: ""}
            %span.like いいね！
