.main_contents
  %div{calss: "main_contents_style"}
    #pairs_search_page.main.box_search_view.contents_padding
      %div
        .notification
          .box_notice_summry
            %ul.notice_list
              %li.notice_item
                [○月○日]○人があなたのプロフィールを訪問しました。
      .banner_contents
        広告
      .box_search_menu
        .button_search_setting
          %a#openSearchConditionBtn.button_b.button_white_a.is_set_search_condition{href: ""}
            %span.is_set_search_condition 検索条件設定中
        %nav.box_change_view_tabs
          %ul.change_view_tabs
            %li.tab_item.tab_item01.is_current
              %a#tab_item001{href: ""}
            %li.tab_item.tab_item02
              %a#tab_item002{href: ""}
        %p.search_result_count 46人中 7人表示
      .box_grid_header.clearfix
        .box_grid_header01
          %p.header_diplay_label 表示人数:
          .header_display_select
            %select.customSelect.ng-pristine.ng-valid.hasCustomSelect.ng-not-empty.ng-touched{style: "-webkit-appearance: menulist-button; width: 81.3594px; position: absolute; opacity: 0; height: 29px; font-size: 12px;"}
              %option{selected: "selected", value: "16"} 16人
              %option{value: "32"} 32人
              %option{value: "64"} 64人
              %option{value: "96"} 96人
              %option{value: "128"} 128人
            %span.customSelect.ng-pristine.ng-untouched.ng-valid
              %span.customSelectInner{style: "width: 33px; display: inline-block;"} 16人
        .box_grid_header02
          %button.button_b.button_white_a.button_show_pickup
            今日のピックアップ
        .box_grid_header03
          %span.total_like_number_desc 「いいね！」をあと
          %em
            %span.total_like_number_header> 30
            人
          押しましょう！
      .box_user_selected.ng-hide
        .user_selected_list
      .box_list_view_user
        %ul.list_view_users.clearfix
          %li.list_view_user_item
            %div
              %div
                %div
                  %a.showPersonalViewModal
                    %img.list_view_user_photo.image-circle{height: "152", src: "assets/西野七瀬.jpeg", width: "152"}/
            .PrivateMode
              .box_user_info01
                %p.user_summary
                  %span.is_3days
                  %span.user_area{limit_length: "5"} 東京
                  %span.user_age 23歳
              .box_user_info03
                %p.user_chemistry.user_chemistry_a.is_chemistry_heart75_a
                  60%
                %p.user_like_count.user_like_count_a
                  %span
                    %em ?
                .user_tweet
                  .user_tweet_body
                    はじめまして！
              .box_button_like
                %div
                  %span
                    %a.button_like.button_like_default.button_pink_c.button_like_view.button_d{href: ""}
                      %span.like いいね！
          %li.list_view_user_item
            %div
              %div
                %div
                  %a.showPersonalViewModal
                    %img.list_view_user_photo.image-circle{height: "152", src: "assets/白石麻衣.jpeg", width: "152"}/
            .PrivateMode
              .box_user_info01
                %p.user_summary
                  %span.is_3days
                  %span.user_area{limit_length: "5"} 東京
                  %span.user_age 23歳
              .box_user_info03
                %p.user_chemistry.user_chemistry_a.is_chemistry_heart75_a
                  60%
                %p.user_like_count.user_like_count_a
                  %span
                    %em ?
                .user_tweet
                  .user_tweet_body
                    はじめまして！
              .box_button_like
                %div
                  %span
                    %a.button_like.button_like_default.button_pink_c.button_like_view.button_d{href: ""}
                      %span.like いいね！
          %li.list_view_user_item
            %div
              %div
                %div
                  %a.showPersonalViewModal
                    %img.list_view_user_photo.image-circle{height: "152", src: "assets/橋本奈々未.jpeg", width: "152"}/
            .PrivateMode
              .box_user_info01
                %p.user_summary
                  %span.is_3days
                  %span.user_area{limit_length: "5"} 東京
                  %span.user_age 23歳
              .box_user_info03
                %p.user_chemistry.user_chemistry_a.is_chemistry_heart75_a
                  60%
                %p.user_like_count.user_like_count_a
                  %span
                    %em ?
                .user_tweet
                  .user_tweet_body
                    はじめまして！
              .box_button_like
                %div
                  %span
                    %a.button_like.button_like_default.button_pink_c.button_like_view.button_d{href: ""}
                      %span.like いいね！
          %li.list_view_user_item
            %div
              %div
                %div
                  %a.showPersonalViewModal
                    %img.list_view_user_photo.image-circle{height: "152", src: "assets/秋元真夏.jpeg", width: "152"}/
            .PrivateMode
              .box_user_info01
                %p.user_summary
                  %span.is_3days
                  %span.user_area{limit_length: "5"} 東京
                  %span.user_age 23歳
              .box_user_info03
                %p.user_chemistry.user_chemistry_a.is_chemistry_heart75_a
                  60%
                %p.user_like_count.user_like_count_a
                  %span
                    %em ?
                .user_tweet
                  .user_tweet_body
                    はじめまして！
              .box_button_like
                %div
                  %span
                    %a.button_like.button_like_default.button_pink_c.button_like_view.button_d{href: ""}
                      %span.like いいね！
          %li.list_view_user_item
            %div
              %div
                %div
                  %a.showPersonalViewModal
                    %img.list_view_user_photo.image-circle{height: "152", src: "assets/生田絵梨花.jpeg", width: "152"}/
            .PrivateMode
              .box_user_info01
                %p.user_summary
                  %span.is_3days
                  %span.user_area{limit_length: "5"} 東京
                  %span.user_age 23歳
              .box_user_info03
                %p.user_chemistry.user_chemistry_a.is_chemistry_heart75_a
                  60%
                %p.user_like_count.user_like_count_a
                  %span
                    %em ?
                .user_tweet
                  .user_tweet_body
                    はじめまして！
              .box_button_like
                %div
                  %span
                    %a.button_like.button_like_default.button_pink_c.button_like_view.button_d{href: ""}
                      %span.like いいね！
          %li.list_view_user_item
            %div
              %div
                %div
                  %a.showPersonalViewModal
                    %img.list_view_user_photo.image-circle{height: "152", src: "assets/生駒りな.jpeg", width: "152"}/
            .PrivateMode
              .box_user_info01
                %p.user_summary
                  %span.is_3days
                  %span.user_area{limit_length: "5"} 東京
                  %span.user_age 23歳
              .box_user_info03
                %p.user_chemistry.user_chemistry_a.is_chemistry_heart75_a
                  60%
                %p.user_like_count.user_like_count_a
                  %span
                    %em ?
                .user_tweet
                  .user_tweet_body
                    はじめまして！
              .box_button_like
                %div
                  %span
                    %a.button_like.button_like_default.button_pink_c.button_like_view.button_d{href: ""}
                      %span.like いいね！
          %li.list_view_user_item
            %div
              %div
                %div
                  %a.showPersonalViewModal
                    %img.list_view_user_photo.image-circle{height: "152", src: "assets/星野みなみ.jpeg", width: "152"}/
            .PrivateMode
              .box_user_info01
                %p.user_summary
                  %span.is_3days
                  %span.user_area{limit_length: "5"} 東京
                  %span.user_age 23歳
              .box_user_info03
                %p.user_chemistry.user_chemistry_a.is_chemistry_heart75_a
                  60%
                %p.user_like_count.user_like_count_a
                  %span
                    %em ?
                .user_tweet
                  .user_tweet_body
                    はじめまして！
              .box_button_like
                %div
                  %span
                    %a.button_like.button_like_default.button_pink_c.button_like_view.button_d{href: ""}
                      %span.like いいね！
      .box_result_pager
        ここにページネイト
      .box_like_remaining
        %p
          あと
          %em
            %span#total_like_numbers_footer 30
            人
          に「いいね！」ができます
  #main_footer.main_footer
    .pc-web-footer-banner
      広告
    %nav.footer_navi
      %ul
        %li.footer_navi_item
          %a{href: "#", target: "_blank"} Pairsとは
        %li.footer_navi_item
          %a{href: "#"} 幸せレポート
        %li.footer_navi_item
          %a{href: "#"} 安心の常時監視体制
        %li.footer_navi_item
          %a{href: "#"} 安心のセキュリティー
        %li.footer_navi_item
          %a{href: "#", target: "_blank"} ヘルプ
        %li.footer_navi_item
          %a{href: "#"} お問い合わせ
      %ul
        %li.footer_navi_item
          %a{href: "#", target: "_blank"} 会社概要
        %li.footer_navi_item
          %a{href: "#"} 利用規約
        %li.footer_navi_item
          %a{href: "#"} プライバシーポリシー
        %li.footer_navi_item
          %a{href: "#"} 特定商取引法に基づく表示
    .footer_label
      .footer_label_horizontal_box
        %a
          .link_to_truste.mr60
            %img{height: "52", src: "https://static-pairs.akamaized.net/public/img/sp/img_jp/statics/truste/truste_ja.png", width: "162"}/
        %table.footer_label_ssl{border: "0", title: "このマークは、SSLで通信を保護している証です。", width: "135"}
          %tbody
            %tr
              %td{align: "center", valign: "top", width: "115"}
                %a
                  %img{alt: "クリックして企業プロファイルを表示", border: "0", height: "55", name: "doidxvgm", oncontextmenu: "return false;", src: "//smarticon.geotrust.com/smarticon?ref=pairs.lv", width: "115"}/
                %a{style: "display:block; color:#000000; text-decoration:none; font:bold 12px 'ＭＳ ゴシック',sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;", target: "_blank"} SSLとは
    %p.footer_approved インターネット異性紹介事業 届出済み
    %small.footer_copyright (c) eureka, Inc.
