.main_contents
  %div{calss: "main_contents_style"}
    #pairs_search_page.main.box_search_view.contents_padding
      %div
        .notification
          .box_notice_summry
            %ul.notice_list
              %li.notice_item
                [○月○日]○人があなたのプロフィールを訪問しました。
      .banner_contents
        広告
      .box_search_menu
        .button_search_setting
          %a#openSearchConditionBtn.button_b.button_white_a.is_set_search_condition{href: ""}
            %span.is_set_search_condition 検索条件設定中
        %nav.box_change_view_tabs
          %ul.change_view_tabs
            %li.tab_item.tab_item01.is_current
              %a#tab_item001{href: ""}
            %li.tab_item.tab_item02
              %a#tab_item002{href: ""}
        %p.search_result_count 46人中 7人表示
      .box_grid_header
        .box_grid_header01
          %p.header_diplay_label 表示人数:
          .header_display_select
            %select.customSelect.ng-pristine.ng-valid.hasCustomSelect.ng-not-empty.ng-touched{style: "-webkit-appearance: menulist-button; width: 81.3594px; position: absolute; opacity: 0; height: 29px; font-size: 12px;"}
              %option{selected: "selected", value: "16"} 16人
              %option{value: "32"} 32人
              %option{value: "64"} 64人
              %option{value: "96"} 96人
              %option{value: "128"} 128人
            %span.customSelect.ng-pristine.ng-untouched.ng-valid
              %span.customSelectInner{style: "width: 33px; display: inline-block;"} 16人
        .box_grid_header02
          %button.button_b.button_white_a.button_show_pickup
            今日のピックアップ
        .box_grid_header03
          %span.total_like_number_desc 「いいね！」をあと
          %em
            %span.total_like_number_header> 30
            人
          押しましょう！
      .box_user_selected.ng-hide
        .user_selected_list
      .box_list_view_user
        %ul.list_view_users
          / = render partial: "pairs/shared/list_view_user_item" ユーザーのテンプレ
          %li.list_view_user_item
            %div
              %div
                %div
                  %a.showPersonalViewModal
                    %img.list_view_user_photo.image-circle{height: "152", src: "https://lh3.googleusercontent.com/F90t0RCwPpsxLWHuAxZxJntagAbCLW20BgcY44mljphwTgtAN1C3Df8pIwqLKfkN0AywfjMmmTTyTjwuY6q_bqU5bWxo33M0j7VJPVbercsR12fQrwzaLlkojLk_wnjlmujkFGE5A290fnIWGAl7rp-vdQGjrEX6tXjvKhcBXmUutoUl9VgQlqZx3WKx-W91Y0pNqMfQzOn_gv2A9wC6HBx5qKvkekSdkJ8cGXhWffyeOI1XDX2WP3QcO5DaSxB4ZE76djSDnJfkimvHDbpG_B8uJE1sN6YWr5IYnSr_lCkMQbdyRGsVUceYrvfwfRTri_G28az4FRx2_cvdg7FnWJ5Gf6ltwJJXhai4LLkVXyCSbAo8k6D_0kHloFHdWOPnT8vL0ZttvEiCxQe4sZj70Mv3nsmIYUFRj4oQJd6Ff1cVsgYG7o4oYopdN82eYUFouN4cHVnpX1bmne1dmC16AiW4VKwo6DlqYwoaMWh4EUn1YzGPZxQqCqgRZSmEm2ewsgNKZzv-TlGAI5570jD5ny52SiKZtDlm5JdN_aSHGYPcuOxpW2TB4kekudPFTu38Lq3n4BDWvuZJ-e8zIzzBtAiHfwASNJMHxLDbOh2KWnlfe0E0e7l4vRsFJ22tweL4hKCNeIdU9rsXzVl3-kcwKqMSi4XZwgqV=w204-h247-no", width: "152"}/
            .PrivateMode
              .box_user_info01
                %p.user_summary
                  %span.is_3days
                  %span.user_area{limit_length: "5"} 東京
                  %span.user_age 23歳
              .box_user_info03
                %p.user_chemistry.user_chemistry_a.is_chemistry_heart75_a
                  60%
                %p.user_like_count.user_like_count_a
                  %span
                    %em 100
                .user_tweet
                  .user_tweet_body
                    はじめまして！
              .box_button_like
                %div
                  %span
                    %a.button_like.button_like_default.button_pink_c.button_like_view.button_d{href: ""}
                      %span.like いいね！
          %li.list_view_user_item
            %div
              %div
                %div
                  %a.showPersonalViewModal
                    %img.list_view_user_photo.image-circle{height: "152", src: "https://lh3.googleusercontent.com/Hbl8HmF12eibb4o0o8rANrGAstVDwmqzyMdlxXKCAb_ppRaRij8hKFmSXIKAXttHnWNhPmwByg5OPZHgqPQBSMFydD7GNQjRKOiFvR2mULkbdJ8BGY2z36hTI8Ol1wiBCxeAaZgTZPBy9mFuE3Fb1WsEadoAukVFO3PJd9otJrW67WI6b3rmHIJHIUeq6_7gocDXNPc0fYZiDVLQ_9MD7EdhWQ_MijPXj6UTII-u2YxHJlgydA8Bk4wlXRafvVXzc1JltEwaSdkvwDtzxBfvLy0u_q3C8bq2KZlQ8sUTQLi3MndFNVJREHbqFuc7bgolMSVgQbVXQo-GMpfWg9VoNlGbtrJKLufY3E93LwVgBvdy9qwUDqyZ3xRIu30yfsUFHFehfkY48iwVft5O7DYyPav3zK5kA9K35WSPVvbwjyiWzmfs1XeoEGD6CLfvDIWzBXYn4ZOvMJV9fGkojRPiq0wz--0oxsIZKqp3gE_F4irFSvz0zWff-a8tUop8wUZjgytb2yOaNFb4R6dd0OPjjiF-gEsxlqyFpQbJ6JBiOzfp9zUGQtWvaxc6Z5c0C1K-HvWmSMEWDH4Tfe5fp_TOFM4iI5CwqNqH8sObrEuSCgPMsZuzFSqtpKXMvLcCDApcHDQgof4GSEJeADFCui0A8lHklkvHz856=w290-h350-no", width: "152"}/
            .PrivateMode
              .box_user_info01
                %p.user_summary
                  %span.is_3days
                  %span.user_area{limit_length: "5"} 東京
                  %span.user_age 23歳
              .box_user_info03
                %p.user_chemistry.user_chemistry_a.is_chemistry_heart75_a
                  60%
                %p.user_like_count.user_like_count_a
                  %span
                    %em ?
                .user_tweet
                  .user_tweet_body
                    はじめまして！
              .box_button_like
                %div
                  %span
                    %a.button_like.button_like_default.button_pink_c.button_like_view.button_d{href: ""}
                      %span.like いいね！
          %li.list_view_user_item
            %div
              %div
                %div
                  %a.showPersonalViewModal
                    %img.list_view_user_photo.image-circle{height: "152", src: "https://lh3.googleusercontent.com/Q6NnacOrFG4PWLSHx7duu92zM8QxOW3gn1uIHLNcLVsFyxn0S0tzE_LN2gnpU4cA7NGYtNVs-vZc_kxJOBvXyjwQIPlRP0vlNPeBRoqST00TfQduvyCk-IBSfjBNTd_ozrhhlPaudNWFmbiapaMps9X_Z4qIyF_3KQBeta_EhvxFTa0jABiyjt9g3YoQjHfYwf17-a75cpbwhxlrYRcjqptMUoOG4rz0Kr6WCAKeVnwv6yCwNQJLS6yI9dJB6rpMAX5NmV6uB0oPMrGm6qjmuv_urt2ZjO8qjnPQOmJUJfN2MSQnNW-XeHsL72DTHWd-eI9V7TIVAA_BwbKNLVVertr4iD_naWG_rEpCmkuQXwZ2NZKs6CuPmuIVvDMUGMrd4Zac_NJBnxd52RUW__TiKi0NDHZt2iluotW8rFYFbBjfPG7bsNPx4NiDycW4nPQdzcnyKpypFONmESuRB052ofKU5yztf5Ze1CFlWRTCHawsbKCk-ViTMlQWSNYULFIMnqUZq-ErUQ1a7OyqGGvYgprBY22ixy5nZGiB0oX6GcmQ-Nork3_IUWdqt7-Fh3jtXgiSl1g4u-blJsaoS8JgsG2W7ZnxcN9g-5Ok8TvilwRMGW8_82Jo2MScg8OrJxGImOjeEk9-gQid94VzGOKujCzPax008kof=s640-no", width: "152"}/
            .PrivateMode
              .box_user_info01
                %p.user_summary
                  %span.is_3days
                  %span.user_area{limit_length: "5"} 東京
                  %span.user_age 23歳
              .box_user_info03
                %p.user_chemistry.user_chemistry_a.is_chemistry_heart75_a
                  60%
                %p.user_like_count.user_like_count_a
                  %span
                    %em ?
                .user_tweet
                  .user_tweet_body
                    はじめまして！
              .box_button_like
                %div
                  %span
                    %a.button_like.button_like_default.button_pink_c.button_like_view.button_d{href: ""}
                      %span.like いいね！
          %li.list_view_user_item
            %div
              %div
                %div
                  %a.showPersonalViewModal
                    %img.list_view_user_photo.image-circle{height: "152", src: "https://lh3.googleusercontent.com/H0h4E4I0tTb06tQlXu_gA9BCwo_4I6Gpqdty0aFi-CIiMHuUy7bsMRq3oovZOURh9RzjG8ZgpZ7IY3jU5jcWHaTovqEO6RCFVuTvJLUcyWM0iLGU3nQ41hbpCHK4x4gusJl1N23K9NEHwWtQvjvst115cfj9gyCNfn0LUCQ1VjYUrjx0NZMa1kSJ9LbhAI2xNykEpTf9v_BQdPPxOY3_7T3jNKbQ0JMQ1_uHahFcdLGnvJnc6Js-Iq5cZJR5-bfYUcxvEYKXa4lGkEg3FftJZzuH7X3GEDr22s1ipI7PEhiJotcwtXps9--gKJ5K1ODLCSXvi7dvqm9v2m3Q2toxgeT104bg1HA4hkVB0xpbbm8PSvcQZulba8o_BUAp5Dc62SyyOaAoG15yXyq5KpAwiLeXf8g_u__gmTqt7KtvUsuCfO2Cm8tngvPV3_QnkX1SM5-tcENxAvavStLZySxB7mYyeU_vcMlFg00W8ndnfbZY0XGc-X6FhTR45bLvcS3URU_O4cclM4cSrBkYa6v04ts2yOFLBb5dnQbqzxeqqs8VKG5OadqzQtL5P9SFOX3BnvMYAQQso-DIxO_CzUHQg8gfdvvdo1kq6y6lPAc6X9224zi-SczYj7yHpyZ4saOeC-3oMubrT3ffWCiieY2cco3GHtMqZn4w=w290-h350-no", width: "152"}/
            .PrivateMode
              .box_user_info01
                %p.user_summary
                  %span.is_3days
                  %span.user_area{limit_length: "5"} 東京
                  %span.user_age 23歳
              .box_user_info03
                %p.user_chemistry.user_chemistry_a.is_chemistry_heart75_a
                  60%
                %p.user_like_count.user_like_count_a
                  %span
                    %em ?
                .user_tweet
                  .user_tweet_body
                    はじめまして！
              .box_button_like
                %div
                  %span
                    %a.button_like.button_like_default.button_pink_c.button_like_view.button_d{href: ""}
                      %span.like いいね！
          %li.list_view_user_item
            %div
              %div
                %div
                  %a.showPersonalViewModal
                    %img.list_view_user_photo.image-circle{height: "152", src: "https://lh3.googleusercontent.com/1HnzVEEQBNbOvv_E0AbzbPB7owhhAqDUY4B0EtIqqaMGE-On-4MRzHTs5P1gyqwe6FPtp1Dm9UNwaes4h1uqL0MtFgLw7D7CifAq3JHXp3M0EMLpVMQ3Ux4J2XQ9llxm1sL-rZJAq0Wx_g7m60YXfhwzlOHxLRnJsapEOMhbfSzii-bkVOgVv_PQWLLIjE0kMMZbpds2Q_8egFi-SZdfbh6236p-0hooVqD39Ef-S5kY0vN0L_2GffbpmfWqnpBcykI0n-QoIVTe64LvVM_7NJoL27rMnuRpvdOa43fb5mQQI2LcRJsnOj0pfuGfycWXtS8KovdpnNTbD_JEFcZH8W28GZltM6Qhe0zlxiUdGxLDTaS9OrE-2n3cc5ZU5RzfwA5ViNCZbk_VgVGGg9ONEJhRW3gWyH8B3s3FCMpSFQKjQck0SS2yE5U2y6RUAm-x8JOxr6RdEm7V_F87jX3Q79ovWmHWdQIXUfkDM0ZuaAMQIHRdzEwLkkQ1ZkAzWogbLwleX81kAvI8H_a2WpIrBABoJVgCVszzSRUb-AqiL3hS4AuSkMEI1cF7gWurmSK6wLuzjbZCEqMb2QqjGhlspFwoF-MgP_xzuZLf6ZAWAE0DTuybx-oZBXGK3wu02BKdmmjhvxF4KPYbmvPfdsCEwfjH6--u9-xz=w204-h247-no", width: "152"}/
            .PrivateMode
              .box_user_info01
                %p.user_summary
                  %span.is_3days
                  %span.user_area{limit_length: "5"} 東京
                  %span.user_age 23歳
              .box_user_info03
                %p.user_chemistry.user_chemistry_a.is_chemistry_heart75_a
                  60%
                %p.user_like_count.user_like_count_a
                  %span
                    %em ?
                .user_tweet
                  .user_tweet_body
                    はじめまして！
              .box_button_like
                %div
                  %span
                    %a.button_like.button_like_default.button_pink_c.button_like_view.button_d{href: ""}
                      %span.like いいね！
          %li.list_view_user_item
            %div
              %div
                %div
                  %a.showPersonalViewModal
                    %img.list_view_user_photo.image-circle{height: "152", src: "https://lh3.googleusercontent.com/kQ-1PFytGb_BlVn40ooGcS-gY9xEuiovoiCYZCL9cRvr5FO0GFhsjtyIKNbq7_iAG9ys6Q_x-Szdlt3ghRdwzCATZ6C1MKmggBJu9Z2R6KfSuB-bm_YLvCfku0Rh52Yo8d88HmGJgVNMNHIoeMDbNomHTDvAVQS5N0u9t6c0_o1sZqhXy8YcmNKJ7ZitixCF51DkLYPElgs1aGJUe2ea09btaCmxnwaamvrpFFa5-EEkPrZjPlefb2rViTo9ErgsISF4Mp1sUllQr0DLSlvLmpW5iAsWe6SGkoPOjP885XgiVVC_6QZVaXm5J9F-rLPEc4mAwXXvyXNzzqTgPOtZQseTrsNz_z0uh4BKqYQQxp-opFy-ixdUF0GyaisKQs0s-7JzCGAfTOmYzpJm8PhRr5V8mE5Anlx8i4nM4pIrLhs30Xo42sZpXjPFU_XS3pduavl2tKMCpEIhE3pSLA5C-ADeGKudw2tpWav8Ov_PDO1b9OR2TwUS7ctllGnYYo_sQDv-7CvgsA5aRlkhcVAHtLzEiuFd4vXB_1mEGyc8KH62ULNHMScwokDxGBNlDLZLyiYHzzwmUrBPYpYLWzSR302LC1RoTp4Rp3DWeM6soZPKS65cvM4wPbwrvm2gvhv_kknDc0RTVXkUXr1LP8GsrPuZnxUFGqV6=s300-no", width: "152"}/
            .PrivateMode
              .box_user_info01
                %p.user_summary
                  %span.is_3days
                  %span.user_area{limit_length: "5"} 東京
                  %span.user_age 23歳
              .box_user_info03
                %p.user_chemistry.user_chemistry_a.is_chemistry_heart75_a
                  60%
                %p.user_like_count.user_like_count_a
                  %span
                    %em ?
                .user_tweet
                  .user_tweet_body
                    はじめまして！
              .box_button_like
                %div
                  %span
                    %a.button_like.button_like_default.button_pink_c.button_like_view.button_d{href: ""}
                      %span.like いいね！
          %li.list_view_user_item
            %div
              %div
                %div
                  %a.showPersonalViewModal
                    %img.list_view_user_photo.image-circle{height: "152", src: "https://lh3.googleusercontent.com/r39rW-w_Qfay_s7gEbZZAKlkpaWG0hu0in5Eejd1wopNR9dqnimo0YLFeW6DJSTi2Q77_zsSh73l25J1WOmUuJ4Tnq0ih-_7UiQEJNIi37ZsdLjUuksDUNBwpmYULbxa1YSvEUUKnulQEaGvyYAqg_7qqqEN06U8KbxZUBUHK3Z4-DQOyOiiiqGmwko19QPqjW0WfyexYqBywr_xcs8Wa_9xw1bl7LFwSehZoMkLAipZsrcnUbZzWn5FmLbSDUDj4_4fBpzgxgVfUESZbfda5FRW9KmPGyJFn7GVzaSQed2f1UDDYjCYRt5BG00JJGFY80BwGHlsS_4JHaUKvOax-m9VmmJ7PfqTtqvqSKVAPhgz02vWyYekAid-MrwWd16ktFQq6YPHKoHwh2LsE1Co9Rdm3QO7BphIfxTPRkEKb2PJ8n4h8cCK9pWLV4IsRjIH9JlAjNSQdvKu75Lsq9-BZE3emFL9zPljuC3s56N9NP4fVGAJrTwkgFBsLSHmkt4CEG4hSfpVG8zwIsph4NCwZODbG-1eUeIo3y-1JwNKG4lRZq4M99WRO0Y93ieCLQZvp247F4o_X0B4x0RkR8G8uhq3emRc8DnRQBe_xO1Whg2l9RLAsQ-hzumZ9FvPx3yxCaQ23gwIAIT_I89C7BtdmoxlmCM4b-fC=w204-h247-no", width: "152"}/
            .PrivateMode
              .box_user_info01
                %p.user_summary
                  %span.is_3days
                  %span.user_area{limit_length: "5"} 東京
                  %span.user_age 23歳
              .box_user_info03
                %p.user_chemistry.user_chemistry_a.is_chemistry_heart75_a
                  60%
                %p.user_like_count.user_like_count_a
                  %span
                    %em ?
                .user_tweet
                  .user_tweet_body
                    はじめまして！
              .box_button_like
                %div
                  %span
                    %a.button_like.button_like_default.button_pink_c.button_like_view.button_d{href: ""}
                      %span.like いいね！
      .box_result_pager
        ここにページネーション
      .box_like_remaining
        %p
          あと
          %em
            %span#total_like_numbers_footer 30
            人
          に「いいね！」ができます
  #main_footer.main_footer
    .pc-web-footer-banner
      広告
    %nav.footer_navi
      %ul
        %li.footer_navi_item
          %a{href: "#", target: "_blank"} Pairsとは
        %li.footer_navi_item
          %a{href: "#"} 幸せレポート
        %li.footer_navi_item
          %a{href: "#"} 安心の常時監視体制
        %li.footer_navi_item
          %a{href: "#"} 安心のセキュリティー
        %li.footer_navi_item
          %a{href: "#", target: "_blank"} ヘルプ
        %li.footer_navi_item
          %a{href: "#"} お問い合わせ
      %ul
        %li.footer_navi_item
          %a{href: "#", target: "_blank"} 会社概要
        %li.footer_navi_item
          %a{href: "#"} 利用規約
        %li.footer_navi_item
          %a{href: "#"} プライバシーポリシー
        %li.footer_navi_item
          %a{href: "#"} 特定商取引法に基づく表示
    .footer_label
      .footer_label_horizontal_box
        %a
          .link_to_truste.mr60
            %img{height: "52", src: "https://static-pairs.akamaized.net/public/img/sp/img_jp/statics/truste/truste_ja.png", width: "162"}/
        %table.footer_label_ssl{border: "0", title: "このマークは、SSLで通信を保護している証です。", width: "135"}
          %tbody
            %tr
              %td{align: "center", valign: "top", width: "115"}
                %a
                  %img{alt: "クリックして企業プロファイルを表示", border: "0", height: "55", name: "doidxvgm", oncontextmenu: "return false;", src: "//smarticon.geotrust.com/smarticon?ref=pairs.lv", width: "115"}/
                %a{style: "display:block; color:#000000; text-decoration:none; font:bold 12px 'ＭＳ ゴシック',sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;", target: "_blank"} SSLとは
    %p.footer_approved インターネット異性紹介事業 届出済み
    %small.footer_copyright (c) eureka, Inc.
