.box_mypage_header
  %a.button_profile_conf.button_b.button_white_a
    プロフィールの見え方を確認
  %a.button_notification.button_b.button_white_a.is_new
    .badge_count.uncheck
      1
    Pairsからのお知らせ
.box_mypage_detail
  .box_mypage_detail_inner01
    .box_photo_request
      %p.photo_request_text
        %em 1000人があなたの写真を待っています。
        写真を追加すると、リクエストを送った人が見られます。
    .mypage_detail_inner_left
      .user_status
        .user_status_title
          %p 会員ステータス
          %a.button_status_conf.button_f.button_white_a
            確認
        %p.user_status_label.is_free_member
          年齢未確認
      .user_tweet
        .user_tweet_title
          %p
            つぶやき
            %a.link_user_tweet.mt5
              ルール
          %span
            %a.button_edit.button_f.button_blue_a
              編集
        .user_tweet_inner
          .user_tweet_textarea
            %p.user_tweet_text
              編集ボタンより呟き変更。
              最大24文字。最低4文字。
          %p.user_tweet_note
            あと3回変更できます(1日3回まで)
      .visiter_summary
        %p.visiter_summary_title 足あと
        .visiter_summary_count
          %p.text 過去1週間の足あと
          %p.count
            %em 50
            人
        %ul.user_list
          %li.user_item
            %a
              %img.image-circle{src: "https://lh3.googleusercontent.com/OFx6xjhl0VlC7VSSt52JE8xP0qpx84h2qWbCJC1c0_rA8PeqNpVIMEsxS7twNnVjAyEqChq9QKhD6tWGFU_70XL94nnilkYRIgk8kQRcA3QetWTOGFxNu6d-EadgyCucOAgscjP3xpUoa6XCTnZZaMm3ncsLa9Mhqlni90pJFOyN-C8CyXzqsxAIVJ-gfN2CTaxaX9o6pEyrAz7XT9xFVGh6Hdzxg42H4Pdnms0ouDGBAj5L6XBTeTgpes9vmm7KtI83xEOvZnI5PTk6CZFcQDjKkjFhtgn0YJsKVlqkbX88VApdeo1Tx-H1T7_nlwARRR5hFq1gNRuJ--0-l4Cl4HPL9B3-7FXexVOG_yUgTgGms3g_Dj51-HAPjdrM_umWq4z9rChoPkewg9Ps0aXtaLlSbMaxO-S__518TDoY82MdF6MNdzbInDNqJ32LeZK1o4DRAEaK8e_NziZTq2mNtFygK3u_1c-auMz_DTTPsksSxu6HxfbcaAI_l215RPZamvhTIpSFSnYsF9X1xYh520cZop5dxw1qhwCCOzhpdHC1XnQHktzhkz1xmA9jnqjfOzOiflLqdkkhXL-O1fkJAaxMEq9M83FXm6CzcbCHC7TuDHSeRoUqypUVfGMvzqGQ9sXJLKo6aSxEwX71fHanoWI0ezRJeQg=w377-h669-no"}/
              %p.user_info 41歳 東京
              %p.user_time
                %span 23:59
          %li.user_item
            %a
              %img.image-circle{src: "https://lh3.googleusercontent.com/OFx6xjhl0VlC7VSSt52JE8xP0qpx84h2qWbCJC1c0_rA8PeqNpVIMEsxS7twNnVjAyEqChq9QKhD6tWGFU_70XL94nnilkYRIgk8kQRcA3QetWTOGFxNu6d-EadgyCucOAgscjP3xpUoa6XCTnZZaMm3ncsLa9Mhqlni90pJFOyN-C8CyXzqsxAIVJ-gfN2CTaxaX9o6pEyrAz7XT9xFVGh6Hdzxg42H4Pdnms0ouDGBAj5L6XBTeTgpes9vmm7KtI83xEOvZnI5PTk6CZFcQDjKkjFhtgn0YJsKVlqkbX88VApdeo1Tx-H1T7_nlwARRR5hFq1gNRuJ--0-l4Cl4HPL9B3-7FXexVOG_yUgTgGms3g_Dj51-HAPjdrM_umWq4z9rChoPkewg9Ps0aXtaLlSbMaxO-S__518TDoY82MdF6MNdzbInDNqJ32LeZK1o4DRAEaK8e_NziZTq2mNtFygK3u_1c-auMz_DTTPsksSxu6HxfbcaAI_l215RPZamvhTIpSFSnYsF9X1xYh520cZop5dxw1qhwCCOzhpdHC1XnQHktzhkz1xmA9jnqjfOzOiflLqdkkhXL-O1fkJAaxMEq9M83FXm6CzcbCHC7TuDHSeRoUqypUVfGMvzqGQ9sXJLKo6aSxEwX71fHanoWI0ezRJeQg=w377-h669-no"}/
              %p.user_info 41歳 東京
              %p.user_time
                %span 3月16日
        .box_link_more
          %a.button_f.button_white_a もっと見る
    .mypage_detail_inner_right
      .box_my_display_photo
        .my_display_photo_title
          メイン・サブ写真
          %p.button_edit
            %a.button_f.button_blue_a
              写真編集
        .my_summary_info
          %ul.my_display_photo_list
            %li.my_display_photo_item.is_current
              %img{src: "https://lh3.googleusercontent.com/4aEtRn5Cstlgj6Qz5pVhEc4TiTyeqcXHT3uXwjSNAx5NtSEcbDIFOJacNS_gYvJHIPrikzcmWD2_kWFNB9KknvNaAPS7O0-xeTPKo8i_wN-peEzEfFkkRuxPgvHzpflit91MAjzEJWx6PMw0T2DM5B9FkvtAGEO2q8vUOdw1RF1-aWfV8MHDdEz-O5z079jf6QziotbcOGp3gcZZVzOo67eXfW3Lp9Z044n6WcX8E7zuSfvjsadupvQ88W5Qf69rSvApwlSxXRlhexzUXjd_Meiuhp4-U0m36tWosz5UUGDBrgBjPhstvvQVb3QDErV92zZEDqvpeckyBzLDE17vIFDBMlNyrkRiexoVxmqBEeerXQE3JPtqPR8lHdylGWE_J7J2gBwxGejKWbGB3VfumWVuDZlM29n7uQO_oPu8w9_5ml24Y_q6uuUVe18hFci1aXuF6fLzmC9IEAladjBZUsThKQlg-MgVPlovIlITXkA1nOyWt5pFk4_yGjA4zGlopCxdgLLg1iupAvr-m_LOMRFSKXkuqXZpUfjpS6QOv24uxQbk5c8osxbKVxHV25-SY8CjLjW12xC88p2c4rPnXy3buEnG6OpFVCqWhLgyoOGqYfrRafGyGu66lgogbsLZvUO7CNiSEcYRZSE17CiHvds3aEe6-evs=w455-h682-no"}/
        .box_my_photo
          .box_my_photo_inner
            %ul.my_photo_list
              %li.photo_item.is_current
                .image-round
                  %img{src: "https://lh3.googleusercontent.com/4aEtRn5Cstlgj6Qz5pVhEc4TiTyeqcXHT3uXwjSNAx5NtSEcbDIFOJacNS_gYvJHIPrikzcmWD2_kWFNB9KknvNaAPS7O0-xeTPKo8i_wN-peEzEfFkkRuxPgvHzpflit91MAjzEJWx6PMw0T2DM5B9FkvtAGEO2q8vUOdw1RF1-aWfV8MHDdEz-O5z079jf6QziotbcOGp3gcZZVzOo67eXfW3Lp9Z044n6WcX8E7zuSfvjsadupvQ88W5Qf69rSvApwlSxXRlhexzUXjd_Meiuhp4-U0m36tWosz5UUGDBrgBjPhstvvQVb3QDErV92zZEDqvpeckyBzLDE17vIFDBMlNyrkRiexoVxmqBEeerXQE3JPtqPR8lHdylGWE_J7J2gBwxGejKWbGB3VfumWVuDZlM29n7uQO_oPu8w9_5ml24Y_q6uuUVe18hFci1aXuF6fLzmC9IEAladjBZUsThKQlg-MgVPlovIlITXkA1nOyWt5pFk4_yGjA4zGlopCxdgLLg1iupAvr-m_LOMRFSKXkuqXZpUfjpS6QOv24uxQbk5c8osxbKVxHV25-SY8CjLjW12xC88p2c4rPnXy3buEnG6OpFVCqWhLgyoOGqYfrRafGyGu66lgogbsLZvUO7CNiSEcYRZSE17CiHvds3aEe6-evs=w455-h682-no"}/
                  %a.link_photo_edit
                    メイン写真
              %li.photo_item
                .image-round
                  %img{src: "https://lh3.googleusercontent.com/LSCjFCokRc2Sevo4VB1GTYFmNCKeECol1bLCI1HSMFSamrerYaHnJJSQN0JRp7pdj7Q-CbwthwkSa5W1H3yAOFCZLBDEcBbm6QZgZ833H2NiuHt_TtwbUoRLNHBYo3w0hOjMDBrEcMLC2MEDD3BTm3Cg3AVbJL82ocoKOCXQ52cesKytHBDH6TF8R00dxs3k8FBfH8TDChp5N7idKDB9nhINp0x9XqeE8oW4-hlsE8GmlwOzijiooGUTzHOkdvUB2AC3A1CsXMVjUTGcl16izLLf08yy5ZeVPgE09mjndYvLuxf8incFxpQfl_DHApdey3ON6Z_tJF5RSUf7LOgSypkPb3dgZHLV7MwEnFoHoDi2x6mAmhLMvveuEF4aKN8v_T8LR6QMn4Tgwr5uzDgOpei26duuexTFACkOB4iKXWlOuYMIBk2KZwmfwVD3-aAHJbvk5kcpIb83nQM3MFFEc-6Iw7kfRpeW5zUtORJt6-wp63R6jvy7zIJuk9JsFIXlD7pDuGT65UXl2qLAM9zFzR3-4okPVBw-Hwo2f_MZS9d0FIunzepgiB2kGQ3aUVe7kCoa3t3GITZBQgjuloRA-Pvp_1lrXzRKx2vXf5hDUQXNngNFVnoj7JgRXV12fDZxgpp7FnaI39Nk33VLQMb9Ft9KXJdwXbg=s220-no"}/
                  %a.link_photo_edit
                    審査中
              %li.photo_item
                %img.image-round{src: "https://lh3.googleusercontent.com/9DoSwu9g5XcAaMo4vvDheiVvSknckn-0bRU7ThR6RGBmpfXaTMgX5j7ahYNEjjSiHYQYtJtuj2306xFg5m8B1dgUseLZJ1VXsGej3r3OylgBLyAGGUXK5c_3BrIoJ2mqWgr6-xzVXRQwTv6VraLpho9BUmEPcwAKKclW0DXK6QJjgmxnQzh74qq5y1XkbuEDEEq7uV15qn9x2iKb3bqOKkm4KoY1B8DUqt2hZOBaQclVVc6yvsqoDWoLI7hwGzznxe7RR66QSdKNHpePieQyq5-RHqC6JG1OT6vuiuzIiSjh1BcLcj5QiZEQqYk8BAl6Wo7ymRq8kPX7zvUsJHMqMnYs02BVllYY-RHw63d8j8nFcUMWXJLkvy_eXW3VSLkPDRna8uYZSnLuNcDMTqmsXc9LvG-rw-8777k72H5TxyUgJyIQr5kIM-TjJJWnbjDP6avYM4gvuPWFG4y-1yOxFpjeUgWBSw4dDMZeax2jSX9lWMFtRdP0-J7W4rXRN6B0rc3RkPvBovLB1DWkFW7eZLbVF0x3P7uaX-fVyECsqQqtlN4nsstJdCMnoGvwnyaaM3jah9124o_DdQeU1flONiLGuv8BI1NoN8l1E0n5coPIOkq172Sc9dulP7Ljm0hijquVDEvA7uqCWowG1fBsOLvjIciUudE=s98-no"}/
              %li.photo_item
                %img.image-round{src: "https://lh3.googleusercontent.com/9DoSwu9g5XcAaMo4vvDheiVvSknckn-0bRU7ThR6RGBmpfXaTMgX5j7ahYNEjjSiHYQYtJtuj2306xFg5m8B1dgUseLZJ1VXsGej3r3OylgBLyAGGUXK5c_3BrIoJ2mqWgr6-xzVXRQwTv6VraLpho9BUmEPcwAKKclW0DXK6QJjgmxnQzh74qq5y1XkbuEDEEq7uV15qn9x2iKb3bqOKkm4KoY1B8DUqt2hZOBaQclVVc6yvsqoDWoLI7hwGzznxe7RR66QSdKNHpePieQyq5-RHqC6JG1OT6vuiuzIiSjh1BcLcj5QiZEQqYk8BAl6Wo7ymRq8kPX7zvUsJHMqMnYs02BVllYY-RHw63d8j8nFcUMWXJLkvy_eXW3VSLkPDRna8uYZSnLuNcDMTqmsXc9LvG-rw-8777k72H5TxyUgJyIQr5kIM-TjJJWnbjDP6avYM4gvuPWFG4y-1yOxFpjeUgWBSw4dDMZeax2jSX9lWMFtRdP0-J7W4rXRN6B0rc3RkPvBovLB1DWkFW7eZLbVF0x3P7uaX-fVyECsqQqtlN4nsstJdCMnoGvwnyaaM3jah9124o_DdQeU1flONiLGuv8BI1NoN8l1E0n5coPIOkq172Sc9dulP7Ljm0hijquVDEvA7uqCWowG1fBsOLvjIciUudE=s98-no"}/
        .box_my_photo_pager
          %a.pager_pre.button_c.button_white_a
            前の4枚
          %a.pager_next.button_c.button_white_a
            次の4枚
          %ol.pager_nums
            %li.pager_num.is_current
              %a
                1
            %li.pager_num
              %a
                2
  .box_mypage_detail_inner02
    .mypage_detail_inner_left
      .box_profile_detail
        %p.detail_sub_note.pb10.borderb1
          = link_to '項目を選択すると編集できます', "/users/#{current_user.id}/details/#{current_user.id}/edit"
        %p.detail_sub_title
          %span.title_a
            Pairsプロフ
        %dl.detail_item_list.pb10.borderb1
          %dt.detail_item_title
            %span.item_title
              身長
          %dd.detail_item_value.is_no_select#detail_item_value_height
            選択してください
          %dt.detail_item_title
            %span.item_title
              体型
          %dd.detail_item_value.is_no_select#detail_item_value_body_build
            選択してください
          %dt.detail_item_title
            %span.item_title
              血液型
          %dd.detail_item_value.is_no_select#detail_item_value_blood_type
            選択してください
          %dt.detail_item_title
            %span.item_title
              居住地
          %dd.detail_item_value#detail_item_value_residence_state
            埼玉（日本）
          %dt.detail_item_title
            %span.item_title
              出身地
          %dd.detail_item_value.is_no_select#detail_item_value_home_state
            選択してください
          %dt.detail_item_title
            %span.item_title
              職種
          %dd.detail_item_value.is_no_select#detail_item_value_job
            選択してください
          %dt.detail_item_title
            %span.item_title
              学歴
          %dd.detail_item_value.is_no_select#detail_item_value_education
            選択してください
          %dt.detail_item_title.ng-hide
            %span.item_title
              年収
          %dd.detail_item_value.is_no_select.ng-hide#detail_item_value_annual_income
            選択してください
          %dt.detail_item_title.ng-hide
            %span.item_title
              同居人
          %dd.detail_item_value.is_no_select.ng-hide#detail_item_value_lodger
            選択してください
          %dt.detail_item_title
            %span.item_title
              休日
          %dd.detail_item_value.is_no_select#detail_item_value_holiday
            選択してください
          %dt.detail_item_title
            %span.item_title
              お酒
          %dd.detail_item_value.is_no_select#detail_item_value_drinking
            選択してください
          %dt.detail_item_title.is_no_select.ng-hide
            %span.item_title
              タバコ
          %dd.detail_item_value.is_no_select.ng-hide#detail_item_value_smoking
            選択してください
        %p.detail_sub_title.pb0
          %span.title_a
            詳細プロフ
        %p.detail_sub_title
          基本情報
        %dl.detail_item_list
          %dt.detail_item_title
            %span.item_title
              ニックネーム
          %dd.detail_item_value#detail_item_value_nickname
            aiko
          %dt.detail_item_title
            %span.item_title
              年齢
          %dd.detail_item_age#detail_item_value_age
            31歳
          %dt.detail_item_title
            %span.item_title
              兄弟姉妹
          %dd.detail_item_value.is_no_select#detail_item_value_nth_child
            選択してください
          %dt.detail_item_title
            %span.item_title
              国籍
          %dd.detail_item_value.is_no_select#detail_item_value_nationality
            選択してください
          %dt.detail_item_title
            %span.item_title
              話せる言語
          %dd.detail_item_value.is_no_select#detail_item_value_lang
            選択してください
        %p.detail_sub_title
          学歴・職種・外見
        %dl.detail_item_list
          %dt.detail_item_title
            %span.item_title
              年収
          %dd.detail_item_value.is_no_select#detail_item_value_annual_income2
            選択してください
        %p.detail_sub_title
          恋愛・結婚について
        %dl.detail_item_list
          %dt.detail_item_title
            %span.item_title
              結婚歴
          %dd.detail_item_value.is_no_select#detail_item_value_married_status
            選択してください
          %dt.detail_item_title
            %span.item_title
              子どもの有無
          %dd.detail_item_value.is_no_select#detail_item_value_child
            選択してください
          %dt.detail_item_title
            %span.item_title
              結婚に対する意思
          %dd.detail_item_value.is_no_select#detail_item_value_when_marry
            選択してください
          %dt.detail_item_title
            %span.item_title
              子どもが欲しいか
          %dd.detail_item_value.is_no_select#detail_item_value_want_child
            選択してください
          %dt.detail_item_title
            %span.item_title
              家事・育児
          %dd.detail_item_value.is_no_select#detail_item_value_housework
            選択してください
          %dt.detail_item_title
            %span.item_title
              出会うまでの希望
          %dd.detail_item_value.is_no_select#detail_item_value_how_to_meet
            選択してください
          %dt.detail_item_title
            %span.item_title
              初回デート費用
          %dd.detail_item_value.is_no_select#detail_item_value_cost_of_date
            選択してください
        %p.detail_sub_title
          性格・趣味・生活
        %dl.detail_item_list
          %dt.detail_item_title
            %span.item_title
              性格・タイプ
          %dd.detail_item_value.is_no_select#detail_item_value_personalities
            選択してください
          %dt.detail_item_title
            %span.item_title
              社交性
          %dd.detail_item_value.is_no_select#detail_item_value_sociability
            選択してください
          %dt.detail_item_title
            %span.item_title
              同居人
          %dd.detail_item_value.is_no_select#detail_item_value_lodger2
            選択してください
          %dt.detail_item_title.ng-hide
            %span.item_title
              休日
          %dd.detail_item_value.is_no_select.ng-hide#detail_item_value_holiday2
            選択してください
          %dt.detail_item_title.ng-hide
            %span.item_title
              お酒
          %dd.detail_item_value.is_no_select.ng-hide#detail_item_value_drinking2
            選択してください
          %dt.detail_item_title
            %span.item_title
              タバコ
          %dd.detail_item_value.is_no_select#detail_item_value_smoking2
            選択してください
          %dt.detail_item_title
            %span.item_title
              好きなこと・趣味
          %dd.detail_item_value.is_no_select#detail_item_value_hobbies
            選択してください
      %a.button_a.button_white_a{href: ""}
        質問付きいいね！の設定
    .mypage_detail_inner_right
      .box_join_community
        .join_community_title_b
          %span.title_a
            参加しているコミュニティ
          %a.button_new_entry.button_f.button_white_a
            新しいコミュニティに入る
        %ul.join_community_list
          %li.join_community_item
            %a{href: ""}
              .box_community_item_img
                %img.community_item_img.image-round{src: "https://lh3.googleusercontent.com/hKTlIcQ7ZfSdfB4DswczxSzj99H-tmlwE8ZOwupwj9wfq7-geigm9L9MfhwL4mIE-K3tOftPUiPzAdOq9swsO7iqyNpXF8ZkhXkc8XLOUbvS4x_n_pJYXaRO_Ov2DPvvWAgR9I1G6MN0L5706W_r51DhAkaKRTEQ1DIeC_y8AdB-rLRgau6_ot9d_I-jIgFrIjHZYznoQbABr2-RlKmcljXN-283xTVy_uL2jGUmkmaTfnCyHErJeFpMEZSAco0jn2rdCrP05NBSLjtzgFMu3JmoubtKxZ59oBYVykJcsC_h47IA6Qq81emx_wQgOIqVRdie3oHZ8kr4Eq0aoRKGJfErUNYFaOz81VUIMJxlm7um-hPkPhK_c7LTjlRu40PaFnLv6QNvnTurvSAgFpCQVpCAlZtuLogUCMTNka8aSCYfk-Hx5VQUCVXOzC0MD40L15yvTV9OwjdoV0694rKETGY95WvE8wlVk-BNpMNizX5VgRSvlrmH2AumAIDmPCf9l05lq6R5pvul4Xoxqvf2eomPKOntTwc3D6Aqw1tmW5dhvXqBFtImtw0XpKGeeqeMmaQ5zcoSNqa9tW_FDcjX0tkFvui8lOslol39GIIpTIiFKgqqDqqn2EPqY91VsuNlSslLE4oXinRDSGba_D_Ln8cCYDOwX54=w600-h592-no"}/
              %p.community_item_title
                登録は全角20文字制限
              %p.community_item_count
                表示5字2行
          %li.join_community_item
            %a{href: ""}
              .box_community_item_img
                %img.community_item_img.image-round{src: "https://lh3.googleusercontent.com/wG48h97TH38ph5gCFc-N8bzOV86xdqsktAihzxMoul3PCNGWvsybMDjv5KfZjLbFuyw2nwNmzrsrDxaP9vLJ6-hEY10nbKlmC3iUcgO7MkX75pe1ArTXUgdXY6PvoA2VKOpAipSfPEd9uTHwM1LIZUfLjJctXDzZ_p6mk1sgccyWDA56i_wfBxpUu4yEOqyC8aYQ3_wMDWEOsBXEegPMd9svyibt0Xo6wcE0CXNwpDaXzaDSGHHRdUzUPRzut3V6rbMWDmUyRIvPYZSFyok1-zmHaHir6sjZktCAsxmc8Ib3rkv-KcHNkvpSeJ_Ka1CbsJhHix2m-CdXOnuamIo7gF1m6SIKgjGaJdYNL4LVcBeXse3ALdWgsf17Utxdlo2t76ZZH7wuq7AauRZRSCE2aevD866oaapI7WQ2A8w2jM_ZgNm6lP8yNkBNUcs0vkMmZEpz90ohAmrMeuxsDwR9G3su21aOoId3H1xFxdmvPQN6mEo645SdOtuwKAmc6XYBV7SQj-Fud0Usr7GEuuZYxVUmvIi717m2k9-FgewC_PufrfiVpQLoNY9QR0t53FRYWap07Wz3W_YjK_NhW67kBiFO80zPjoxBEzkeoXZ8WptZvx3YIAgyhS3GlmHOih7KeXcWzrICLDGnCzXY_GvDTGZq-_aTSgg=w675-h669-no"}/
              %p.community_item_title
                中には３行もあるが崩れている
              %p.community_item_count
                逆にここ1行
          %li.join_community_item
            %a{href: ""}
              .box_community_item_img
                %img.community_item_img.image-round{src: "https://lh3.googleusercontent.com/6iLqcrxw6LwahPQtx1GY2qFEfkAX6jBAAji8U3UeCjaA451FEbI1fkCMIbmAMHzjROHQr-yzhycE5cA8Kx57Q9Drobd52Msl5cZ3TIA4MkP-N82oyxXbISuHyL38XXhRyKAneFucrM0xNj5leUEWynluAfJT-2KYMrwra8qDdKSxXDQs69uJ2CmPCLUrlly_eSJoLOX4yA5ABk3QYXfsdgAHVDNCD3U9lHSPKPkmSZdlfYuvPOzwU9TIogICvppynZwJy8vAfww-a0LhmS4sGJT2f5K4LPFMCh8KXtloA5n0YwWeQ2GHsrSakrU7BFmmd8mr4eDK8UXtGlsXggYmYo6n3KFIyhaK0OMKVe_d2nunSNGzEvjueLQ0HV-IWmIUB_9bD57xGS1LpukXOPdfAJrIRYzVT3fVoRMvj4d7DPtk6lzgMyg5yg2LTyI-CPTHyA2a-TKsCJGPhBLhPSLpmER3J4RfD5Tc7xQfl59sXQAjzovwaC3oSldQzJGpfMJ0kmV8QgDFQmQtN_i6wgv2Yi1FNXsrjNztX1emw4g6nuKalFwVD7tiznwncm8EQkGyiE34L_7c__mSub6YDubANKGqWn-fTD2aNE6WwG2t1SBcKoOPd0uCv1eNfR3plm8hJeVzhaW5OmavPp__BP1tMUvggsIwGY0=w600-h593-no"}/
              %p.community_item_title
                a要素内の他要素の高さ
              %p.community_item_count
                出ずシカト
          %li.join_community_item
            %a{href: ""}
              .box_community_item_img
                %img.community_item_img.image-round{src: "https://lh3.googleusercontent.com/AfsrgwFPo0RKhxfdI1Dv1jP14ogVc6UjCtZDGD8ycYslMUEBw6UduU1f5Hk2KGYrKDH6kW1Z1LSzolX3uOKpR9YXVZtQN5KnoDQlJN6ekW3cSLdBSwasEqwh2C-s-FawvDFedkVF5ryi-XNF-gVXrqqGJR5UV4zqixWEifF2R0cTKewdKFOQXVmT-8JHJqD_N6rSkkRwTp0r4xiX0o1gF3VFsfuhip8e0do4numtrlwNRRYzTZ6ohteMERiIcb6migWQbzp9uYkUZwzSSbkg2DBW1dhOmtXmmphg8eslMmTVVCLukScF5KNPwucTbDO-0KS2ImjxLUpDiIMc1gwDd6OT1ZdH-_HNGvnumCQTIoymqTxoxl9opujCD9w93n4QaGgaUh8TZaVOjJqai19l-Ijjd-DB6JIDsGcnC1rpdDHRFgpcCdmFSstjUbzQxOMNlHD9FkTpWQI2nSFcpPBwVQulwv2hTkVvf2LIoGVBEo3h1kJAY1xOArCJRztyd_CnfpCsdo0HkWcOKsFVtjfTw5RzJYRQchK9YzkwxhHhLbVkber2xgFJvgoBDq_38D2-xVkgdS7WmYbkT7fFxc2AAp5nI33X1F6iDR8vImxhII6dlLpTu-Zz4QXHgNW_BOyBfyimJOUpXSOreHIoIMfvcMd80UvWvC0=w600-h593-no"}/
              %p.community_item_title
                してたが、ほぼ
              %p.community_item_count
                修正完了
          %li.join_community_item
            %a{href: ""}
              .box_community_item_img
                %img.community_item_img.image-round{src: "https://lh3.googleusercontent.com/5htui60WRXshRzuCEJxU1wt9CtG9oQ6CR5Wtrlcg6bm2dLAbz8GX3qgnNDWQXeKZGqJkvne8zX0erW0RTo3oCi6aJI6H5XS0MqTjixWE8Gy-HLYOnSNqkxCwO-cZ5P-bhl8U9xr3gdrl03bOrnspP80hzeEi2PmHdCWjWHNPRQaVutGEjeHBhCUSFVf3yT160LfbIgFREnilBYZmGBjWssxsyptmuUb31bJdBHNhqDtI4A0dCQgMxqW-NBVeytdT6FSU0WNJE0UrAvW4gLp1WLz1G2gJytEDj-39HOnZjOLrtOwomYClGtFQavju3F4zKGnDugcHl3oiY56lCN0fyaiy59PCgq57WO15wH6LmWirkX0m6cIAf6jg3uJFp5kzj1MRAsDOodb-7Nrv4NhsmrFvfVwvoCg6nga6cbyuyxf8EbH-qdgzKT6bPdt_2h7-qQp-JaAgk6QTJPyLaLAleyN_G7J3UYrO7vvvRwHHQLWYgsoEMFl1uhQes3xUpjjAidmCZQ9_nXN9yNWzXKaZWVrTSo08O4Ya85296mBz9-XEqPk_pN2RDWsPvJXfKzTIn2rlFEEtrIDQMo0GFLktW7IrQaHZKiXZ069aR6jWX0T3FfKJVF_hdh5_S3i5GPPPiEC_yiEJ7wt6Plg_wMbQTY-iQC4f20E=w600-h593-no"}/
              %p.community_item_title
                プラマイ
              %p.community_item_count
                34th single
        .box_community_pager
          %a.pager_pre.button_c.button_white_a.disabled
          %ol.pager_nums
            %li.pager_num.is_current
              1
            %li.pager_num
              2
            %li.pager_num
              3
          %a.pager_next.button_c.button_white_a
      .box_mypage_introduction
        %p.introduction_title
          自己紹介文
          %span
            %a.button_edit.button_c.button_blue_a
              編集
        %p.introduction_note
          自己紹介を充実させると、
          %em
            マッチング率10倍UP!
        %p.introduction_text
          プロフィール見てくれて、ありがとうございます！
          %br
          最近はプログラミングにはまっています。
          マイペースな私ですが
          よろしくお願いします。
        %p.introduction_text.empty.ng-hide
          自己紹介文はまだ入力されておりません。
