.sidecontents
  .sidemenu
    .my_profile_summary

      %p.profile_photo
        %a
          %img{height: "60", "ng-src" => "https://static-pairs.akamaized.net/public/img/all/img_jp/avatar/placeholder_woman.png?v=1&impolicy=pairs160x160&imwidth=160&width=160&height=160", src: "https://lh3.googleusercontent.com/onZExYrLkqq2l0QBLMpT1Mp9Vgwq8IKArl8UML5S4u8w2jLKs5gXuuJ6O0ErU07nSUCmcA3NmSNZJrZ74IV8IZFY3dnQQTdCuCmFEMYBvZhzdYhBZGDGxhTMmK26K-opAaLFkyMTOx5nExmb5b5hAh-0JoVRwvQMxCWNtr14Ms4BW26loLBXpVpnWYBxslP0I-QJsxD2vWRhJ7Ee1sE0pw3K6L7SNAh1yt4OnHWSUTexcYCv5j9uUGMp1BndmF0BKjTvATPhjdWrAeE5gMdT9pmGOKEpmQzUHgSpHOe7Z6SWJ6hcrG4ESJAycmR3mueXgSd9deBmUfZPDedhwG0eGGZ_veWVMizFLQBIBafVX_uqwGc8BNy5kc9EHUf8UQK3FqzQh_2ewBulpJuO7p68Vkrs_1YFH751IvNAwbdMd46LiMU_-GVMGUMaLbO8pdVE6TDO85wjNwKgVb5_z1ZvT9b1x7uEv1PI7dPjo98SbNnQJUGcKSyfFD4rfAWJZLA9SdCJktR6kDTpqfKxHNVZJK2JZWh4ODnE8TkE2JYFhWcb9SB48CPPsbIJl18QTMWwVRm9ZzWkK4KWgT6EbZnvmqshQiCq3rIZLWotiQ=s636-no", width: "60"}/


      %p.profile_name
        %a 秋元康 東京

      %p.profile_status.is_free_member
        %a ここに年齢

    .my_profile_input_rate
      %p.input_rate_label
        %span.input_rate_percent_value ここに%

      .box_input_rate_grahp
        .input_rate_grahp_value.is_percent_100

    / .ml10.mb15
    /   %a
    /     %img

    .box_my_status
      %ul.my_statuse_list

        %li.my_status_item.leftover_like
          %p.status_label 残りいいね数
          %p#total_like_numbers.stats_value 9億
          %a.button_c.button_orange_a.link_more 追加する

        %li.my_status_item.leftover_point
          %p.status_label ポイント残高
          %p#total_point_numbers.stats_value 9億
          %a.button_c.button_orange_a.link_more 追加する


    .box_my_private_mode
      %a
        .box_pm
          .box_pm_state
            .pm_state_image
              %img{:src => "https://photos-2.dropbox.com/t/2/AAB-fZ2ebu_PasmavOm6AWUI2I9C_NS9T_9Drx4LFuVP3Q/12/921251696/png/32x32/1/_/1/2/pm_pc_off%402x.png/EJD5seoJGLECIAcoBw/Eamv2VGeFvoLVgEJwjspv8KuvSkfulaazhlSLS1WMVc?preserve_transparency=1&size=1280x960&size_mode=3", :width => "32", :height => "32"}/
            %p.pm_state_text プライベートモードがOFFになっています
          %p.link_pm_setting プライベートモードとは？

    %nav.box_gnavi
      .box_gnavis01
        %p.gnavi_title さがす
        %ul
          %li.gnavi_item.is_currentgnavi_item.is_current
            %a.sidemenu_link
              %span お相手を探す

      .box_gnavis02
        %p.gnavi_title いいね
        %ul
          %li.gnavi_item
            %a.sidemenu_link 相手からのいいね
          %li.gnavi_item
            %a.sidemenu_link 自分からのいいね
          %li.gnavi_item
            %a.sidemenu_link お気に入り

      .box_gnavis03
        %p.gnavi_title マッチング
        %ul
          %li.gnavi_item
            %a.sidemenu_link メッセージ

      .box_gnavis04
        %p.gnavi_title コミュニティ
        %ul
          %li.gnavi_item
            %a.sidemenu_link コミュニティを探す

      .box_gnavis04
        %p.gnavi_title 年齢確認
        %ul
          %li.gnavi_item
            %a.sidemenu_link 年齢確認

      .box_gnavis04
        %p.gnavi_title 有料サービス
        %ul
          %li.gnavi_item.ng-hide
            %a.sidemenu_link 有料会員とは？
          %li.gnavi_item.ng-hide
            %a.sidemenu_link プレミアムオプション
          %li.gnavi_item
            %a.sidemenu_link レディースオプション
          %li.gnavi_item
            %a.sidemenu_link Pairsポイント

      .box_gnavis04
        .gnavi_title 足あと
        %ul
          %li.gnavi_item
            %a.sidemenu_link 足あと
      .box_gnavis04
        %p.gnavi_title 各種設定
        %ul#sidemenu_settings
          %li.gnavi_item
            %a.sidemenu_link 通知/いいね上限
          %li.gnavi_item
            %a.sidemenu_link 非表示・ブロック
          %li.gnavi_item
            %a.sidemenu_link オフラインモード設定

      .box_gnavis04
        %p.gnavi_title 困ったときは
        %ul#sidemenu_settings
          %li.gnavi_item
            %a.sidemenu_link 弁護士相談費用サポート
    %nav.box_other_navi
      %ul
        %li.other_navi_item.other_navi_item01
          %a はじめての方へ
        %li.other_navi_item.other_navi_item03
          %a ヘルプ
