.common_page_box
  %p.common_title<
    過去ー週間の足あと：
    %em.fnt_pink02>
      %span.visitor_count<> 118
      人
  .common_box_inner.pt0
    .box_visitor_list
      %table.visitor_lists.sample
        %tbody
          %tr
            %th{class: "date", rowspan: "5"}
              2月31日
            %td{class: "time", rowspan: "1"}
              25:26
            %td.user_summary
              %a{href: ""}
                %img{class: "user_image image-circle", src: "https://lh3.googleusercontent.com/OFx6xjhl0VlC7VSSt52JE8xP0qpx84h2qWbCJC1c0_rA8PeqNpVIMEsxS7twNnVjAyEqChq9QKhD6tWGFU_70XL94nnilkYRIgk8kQRcA3QetWTOGFxNu6d-EadgyCucOAgscjP3xpUoa6XCTnZZaMm3ncsLa9Mhqlni90pJFOyN-C8CyXzqsxAIVJ-gfN2CTaxaX9o6pEyrAz7XT9xFVGh6Hdzxg42H4Pdnms0ouDGBAj5L6XBTeTgpes9vmm7KtI83xEOvZnI5PTk6CZFcQDjKkjFhtgn0YJsKVlqkbX88VApdeo1Tx-H1T7_nlwARRR5hFq1gNRuJ--0-l4Cl4HPL9B3-7FXexVOG_yUgTgGms3g_Dj51-HAPjdrM_umWq4z9rChoPkewg9Ps0aXtaLlSbMaxO-S__518TDoY82MdF6MNdzbInDNqJ32LeZK1o4DRAEaK8e_NziZTq2mNtFygK3u_1c-auMz_DTTPsksSxu6HxfbcaAI_l215RPZamvhTIpSFSnYsF9X1xYh520cZop5dxw1qhwCCOzhpdHC1XnQHktzhkz1xmA9jnqjfOzOiflLqdkkhXL-O1fkJAaxMEq9M83FXm6CzcbCHC7TuDHSeRoUqypUVfGMvzqGQ9sXJLKo6aSxEwX71fHanoWI0ezRJeQg=w377-h669-no"}
              .summary_inner
                %p.user_info
                  %a
                %a
                  %div
                    %strong
                      %span.user_age
                        41歳
                      %span.user_area
                        東京
                    %span.user_profile_item
                      牛の研究者
                    %span.user_profile_item
                      0万円
                    %span.user_profile_item
                      171cm
                %ul.user_community_list.sample
                  %li.community_item<>
                    %a{class: "community_link", href: "http://aiko.com"}
                      aiko
                  %li.community_item<>
                    %a{class: "community_link", href: "http://www.miwa-web.com/"}
                      miwa
                  %li.community_item<>
                    %a{class: "community_link", href: "http://www.flowerflower-net.jp/"}
                      FlowerFlower
              .visitor_like_box
                .data_like_buttons.like
                  %span
                    %a{class: "button_like button_like_default button_pink_c button_like_view button_d"}
                      %span.like
                        いいね！
          %tr
            %td{class: "time", rowspan: "1"}
              25:24
            %td.user_summary
              %a{href: ""}
                %img{class: "user_image image-circle", src: "https://lh3.googleusercontent.com/OFx6xjhl0VlC7VSSt52JE8xP0qpx84h2qWbCJC1c0_rA8PeqNpVIMEsxS7twNnVjAyEqChq9QKhD6tWGFU_70XL94nnilkYRIgk8kQRcA3QetWTOGFxNu6d-EadgyCucOAgscjP3xpUoa6XCTnZZaMm3ncsLa9Mhqlni90pJFOyN-C8CyXzqsxAIVJ-gfN2CTaxaX9o6pEyrAz7XT9xFVGh6Hdzxg42H4Pdnms0ouDGBAj5L6XBTeTgpes9vmm7KtI83xEOvZnI5PTk6CZFcQDjKkjFhtgn0YJsKVlqkbX88VApdeo1Tx-H1T7_nlwARRR5hFq1gNRuJ--0-l4Cl4HPL9B3-7FXexVOG_yUgTgGms3g_Dj51-HAPjdrM_umWq4z9rChoPkewg9Ps0aXtaLlSbMaxO-S__518TDoY82MdF6MNdzbInDNqJ32LeZK1o4DRAEaK8e_NziZTq2mNtFygK3u_1c-auMz_DTTPsksSxu6HxfbcaAI_l215RPZamvhTIpSFSnYsF9X1xYh520cZop5dxw1qhwCCOzhpdHC1XnQHktzhkz1xmA9jnqjfOzOiflLqdkkhXL-O1fkJAaxMEq9M83FXm6CzcbCHC7TuDHSeRoUqypUVfGMvzqGQ9sXJLKo6aSxEwX71fHanoWI0ezRJeQg=w377-h669-no"}
              .summary_inner
                %p.user_info
                  %a
                %a
                  %div
                    %strong
                      %span.user_age
                        41歳
                      %span.user_area
                        東京
                    %span.user_profile_item
                      牛の研究者
                    %span.user_profile_item
                      0万円
                    %span.user_profile_item
                      171cm
                %ul.user_community_list.sample
                  %li.community_item<>
                    %a{class: "community_link", href: "http://aiko.com"}
                      aiko
                  %li.community_item<>
                    %a{class: "community_link", href: "http://www.miwa-web.com/"}
                      miwa
                  %li.community_item<>
                    %a{class: "community_link", href: "http://www.flowerflower-net.jp/"}
                      FlowerFlower
              .visitor_like_box
                .data_like_buttons.like
                  %span
                    %a{class: "button_like button_like_default button_pink_c button_like_view button_d"}
                      %span.like
                        いいね！
          %tr
            %td{class: "time", rowspan: "1"}
              25:22
            %td.user_summary
              %a{href: ""}
                %img{class: "user_image image-circle", src: "https://lh3.googleusercontent.com/OFx6xjhl0VlC7VSSt52JE8xP0qpx84h2qWbCJC1c0_rA8PeqNpVIMEsxS7twNnVjAyEqChq9QKhD6tWGFU_70XL94nnilkYRIgk8kQRcA3QetWTOGFxNu6d-EadgyCucOAgscjP3xpUoa6XCTnZZaMm3ncsLa9Mhqlni90pJFOyN-C8CyXzqsxAIVJ-gfN2CTaxaX9o6pEyrAz7XT9xFVGh6Hdzxg42H4Pdnms0ouDGBAj5L6XBTeTgpes9vmm7KtI83xEOvZnI5PTk6CZFcQDjKkjFhtgn0YJsKVlqkbX88VApdeo1Tx-H1T7_nlwARRR5hFq1gNRuJ--0-l4Cl4HPL9B3-7FXexVOG_yUgTgGms3g_Dj51-HAPjdrM_umWq4z9rChoPkewg9Ps0aXtaLlSbMaxO-S__518TDoY82MdF6MNdzbInDNqJ32LeZK1o4DRAEaK8e_NziZTq2mNtFygK3u_1c-auMz_DTTPsksSxu6HxfbcaAI_l215RPZamvhTIpSFSnYsF9X1xYh520cZop5dxw1qhwCCOzhpdHC1XnQHktzhkz1xmA9jnqjfOzOiflLqdkkhXL-O1fkJAaxMEq9M83FXm6CzcbCHC7TuDHSeRoUqypUVfGMvzqGQ9sXJLKo6aSxEwX71fHanoWI0ezRJeQg=w377-h669-no"}
              .summary_inner
                %p.user_info
                  %a
                %a
                  %div
                    %strong
                      %span.user_age
                        41歳
                      %span.user_area
                        東京
                    %span.user_profile_item
                      牛の研究者
                    %span.user_profile_item
                      0万円
                    %span.user_profile_item
                      171cm
                %ul.user_community_list.sample
                  %li.community_item<>
                    %a{class: "community_link", href: "http://aiko.com"}
                      aiko
                  %li.community_item<>
                    %a{class: "community_link", href: "http://www.miwa-web.com/"}
                      miwa
                  %li.community_item<>
                    %a{class: "community_link", href: "http://www.flowerflower-net.jp/"}
                      FlowerFlower
              .visitor_like_box
                .data_like_buttons.like
                  %span
                    %a{class: "button_like button_like_default button_pink_c button_like_view button_d"}
                      %span.like
                        いいね！
          %tr
            %td{class: "time", rowspan: "1"}
              25:21
            %td.user_summary
              %a{href: ""}
                %img{class: "user_image image-circle", src: "https://lh3.googleusercontent.com/OFx6xjhl0VlC7VSSt52JE8xP0qpx84h2qWbCJC1c0_rA8PeqNpVIMEsxS7twNnVjAyEqChq9QKhD6tWGFU_70XL94nnilkYRIgk8kQRcA3QetWTOGFxNu6d-EadgyCucOAgscjP3xpUoa6XCTnZZaMm3ncsLa9Mhqlni90pJFOyN-C8CyXzqsxAIVJ-gfN2CTaxaX9o6pEyrAz7XT9xFVGh6Hdzxg42H4Pdnms0ouDGBAj5L6XBTeTgpes9vmm7KtI83xEOvZnI5PTk6CZFcQDjKkjFhtgn0YJsKVlqkbX88VApdeo1Tx-H1T7_nlwARRR5hFq1gNRuJ--0-l4Cl4HPL9B3-7FXexVOG_yUgTgGms3g_Dj51-HAPjdrM_umWq4z9rChoPkewg9Ps0aXtaLlSbMaxO-S__518TDoY82MdF6MNdzbInDNqJ32LeZK1o4DRAEaK8e_NziZTq2mNtFygK3u_1c-auMz_DTTPsksSxu6HxfbcaAI_l215RPZamvhTIpSFSnYsF9X1xYh520cZop5dxw1qhwCCOzhpdHC1XnQHktzhkz1xmA9jnqjfOzOiflLqdkkhXL-O1fkJAaxMEq9M83FXm6CzcbCHC7TuDHSeRoUqypUVfGMvzqGQ9sXJLKo6aSxEwX71fHanoWI0ezRJeQg=w377-h669-no"}
              .summary_inner
                %p.user_info
                  %a
                %a
                  %div
                    %strong
                      %span.user_age
                        41歳
                      %span.user_area
                        東京
                    %span.user_profile_item
                      牛の研究者
                    %span.user_profile_item
                      0万円
                    %span.user_profile_item
                      171cm
                %ul.user_community_list.sample
                  %li.community_item<>
                    %a{class: "community_link", href: "http://aiko.com"}
                      aiko
                  %li.community_item<>
                    %a{class: "community_link", href: "http://www.miwa-web.com/"}
                      miwa
                  %li.community_item<>
                    %a{class: "community_link", href: "http://www.flowerflower-net.jp/"}
                      FlowerFlower
              .visitor_like_box
                .data_like_buttons.like
                  %span
                    %a{class: "button_like button_like_default button_pink_c button_like_view button_d"}
                      %span.like
                        いいね！
          %tr
            %td{class: "time", rowspan: "1"}
              25:20
            %td.user_summary
              %a{href: ""}
                %img{class: "user_image image-circle", src: "https://lh3.googleusercontent.com/OFx6xjhl0VlC7VSSt52JE8xP0qpx84h2qWbCJC1c0_rA8PeqNpVIMEsxS7twNnVjAyEqChq9QKhD6tWGFU_70XL94nnilkYRIgk8kQRcA3QetWTOGFxNu6d-EadgyCucOAgscjP3xpUoa6XCTnZZaMm3ncsLa9Mhqlni90pJFOyN-C8CyXzqsxAIVJ-gfN2CTaxaX9o6pEyrAz7XT9xFVGh6Hdzxg42H4Pdnms0ouDGBAj5L6XBTeTgpes9vmm7KtI83xEOvZnI5PTk6CZFcQDjKkjFhtgn0YJsKVlqkbX88VApdeo1Tx-H1T7_nlwARRR5hFq1gNRuJ--0-l4Cl4HPL9B3-7FXexVOG_yUgTgGms3g_Dj51-HAPjdrM_umWq4z9rChoPkewg9Ps0aXtaLlSbMaxO-S__518TDoY82MdF6MNdzbInDNqJ32LeZK1o4DRAEaK8e_NziZTq2mNtFygK3u_1c-auMz_DTTPsksSxu6HxfbcaAI_l215RPZamvhTIpSFSnYsF9X1xYh520cZop5dxw1qhwCCOzhpdHC1XnQHktzhkz1xmA9jnqjfOzOiflLqdkkhXL-O1fkJAaxMEq9M83FXm6CzcbCHC7TuDHSeRoUqypUVfGMvzqGQ9sXJLKo6aSxEwX71fHanoWI0ezRJeQg=w377-h669-no"}
              .summary_inner
                %p.user_info
                  %a
                %a
                  %div
                    %strong
                      %span.user_age
                        41歳
                      %span.user_area
                        東京
                    %span.user_profile_item
                      牛の研究者
                    %span.user_profile_item
                      0万円
                    %span.user_profile_item
                      171cm
                %ul.user_community_list.sample
                  %li.community_item<>
                    %a{class: "community_link", href: "http://aiko.com"}
                      aiko
                  %li.community_item<>
                    %a{class: "community_link", href: "http://www.miwa-web.com/"}
                      miwa
                  %li.community_item<>
                    %a{class: "community_link", href: "http://www.flowerflower-net.jp/"}
                      FlowerFlower
              .visitor_like_box
                .data_like_buttons.like
                  %span
                    %a{class: "button_like button_like_default button_pink_c button_like_view button_d"}
                      %span.like
                        いいね！
          %tr
            %th{class: "date", rowspan: "3"}
              2月30日
            %td{class: "time", rowspan: "1"}
              26:47
            %td.user_summary
              %a{href: ""}
                %img{class: "user_image image-circle", src: "https://lh3.googleusercontent.com/OFx6xjhl0VlC7VSSt52JE8xP0qpx84h2qWbCJC1c0_rA8PeqNpVIMEsxS7twNnVjAyEqChq9QKhD6tWGFU_70XL94nnilkYRIgk8kQRcA3QetWTOGFxNu6d-EadgyCucOAgscjP3xpUoa6XCTnZZaMm3ncsLa9Mhqlni90pJFOyN-C8CyXzqsxAIVJ-gfN2CTaxaX9o6pEyrAz7XT9xFVGh6Hdzxg42H4Pdnms0ouDGBAj5L6XBTeTgpes9vmm7KtI83xEOvZnI5PTk6CZFcQDjKkjFhtgn0YJsKVlqkbX88VApdeo1Tx-H1T7_nlwARRR5hFq1gNRuJ--0-l4Cl4HPL9B3-7FXexVOG_yUgTgGms3g_Dj51-HAPjdrM_umWq4z9rChoPkewg9Ps0aXtaLlSbMaxO-S__518TDoY82MdF6MNdzbInDNqJ32LeZK1o4DRAEaK8e_NziZTq2mNtFygK3u_1c-auMz_DTTPsksSxu6HxfbcaAI_l215RPZamvhTIpSFSnYsF9X1xYh520cZop5dxw1qhwCCOzhpdHC1XnQHktzhkz1xmA9jnqjfOzOiflLqdkkhXL-O1fkJAaxMEq9M83FXm6CzcbCHC7TuDHSeRoUqypUVfGMvzqGQ9sXJLKo6aSxEwX71fHanoWI0ezRJeQg=w377-h669-no"}
              .summary_inner
                %p.user_info
                  %a
                %a
                  %div
                    %strong
                      %span.user_age
                        41歳
                      %span.user_area
                        東京
                    %span.user_profile_item
                      牛の研究者
                    %span.user_profile_item
                      0万円
                    %span.user_profile_item
                      171cm
                %ul.user_community_list.sample
                  %li.community_item<>
                    %a{class: "community_link", href: "http://aiko.com"}
                      aiko
                  %li.community_item<>
                    %a{class: "community_link", href: "http://www.miwa-web.com/"}
                      miwa
                  %li.community_item<>
                    %a{class: "community_link", href: "http://www.flowerflower-net.jp/"}
                      FlowerFlower
              .visitor_like_box
                .data_like_buttons.like
                  %span
                    %a{class: "button_like button_like_default button_pink_c button_like_view button_d"}
                      %span.like
                        いいね！
          %tr
            %td{class: "time", rowspan: "1"}
              25:10
            %td.user_summary
              %a{href: ""}
                %img{class: "user_image image-circle", src: "https://lh3.googleusercontent.com/OFx6xjhl0VlC7VSSt52JE8xP0qpx84h2qWbCJC1c0_rA8PeqNpVIMEsxS7twNnVjAyEqChq9QKhD6tWGFU_70XL94nnilkYRIgk8kQRcA3QetWTOGFxNu6d-EadgyCucOAgscjP3xpUoa6XCTnZZaMm3ncsLa9Mhqlni90pJFOyN-C8CyXzqsxAIVJ-gfN2CTaxaX9o6pEyrAz7XT9xFVGh6Hdzxg42H4Pdnms0ouDGBAj5L6XBTeTgpes9vmm7KtI83xEOvZnI5PTk6CZFcQDjKkjFhtgn0YJsKVlqkbX88VApdeo1Tx-H1T7_nlwARRR5hFq1gNRuJ--0-l4Cl4HPL9B3-7FXexVOG_yUgTgGms3g_Dj51-HAPjdrM_umWq4z9rChoPkewg9Ps0aXtaLlSbMaxO-S__518TDoY82MdF6MNdzbInDNqJ32LeZK1o4DRAEaK8e_NziZTq2mNtFygK3u_1c-auMz_DTTPsksSxu6HxfbcaAI_l215RPZamvhTIpSFSnYsF9X1xYh520cZop5dxw1qhwCCOzhpdHC1XnQHktzhkz1xmA9jnqjfOzOiflLqdkkhXL-O1fkJAaxMEq9M83FXm6CzcbCHC7TuDHSeRoUqypUVfGMvzqGQ9sXJLKo6aSxEwX71fHanoWI0ezRJeQg=w377-h669-no"}
              .summary_inner
                %p.user_info
                  %a
                %a
                  %div
                    %strong
                      %span.user_age
                        41歳
                      %span.user_area
                        東京
                    %span.user_profile_item
                      牛の研究者
                    %span.user_profile_item
                      0万円
                    %span.user_profile_item
                      171cm
                %ul.user_community_list.sample
                  %li.community_item<>
                    %a{class: "community_link", href: "http://aiko.com"}
                      aiko
                  %li.community_item<>
                    %a{class: "community_link", href: "http://www.miwa-web.com/"}
                      miwa
                  %li.community_item<>
                    %a{class: "community_link", href: "http://www.flowerflower-net.jp/"}
                      FlowerFlower
              .visitor_like_box
                .data_like_buttons.like
                  %span
                    %a{class: "button_like button_like_default button_pink_c button_like_view button_d"}
                      %span.like
                        いいね！
          %tr
            %td{class: "time", rowspan: "1"}
              25:13
            %td.user_summary
              %a{href: ""}
                %img{class: "user_image image-circle", src: "https://lh3.googleusercontent.com/OFx6xjhl0VlC7VSSt52JE8xP0qpx84h2qWbCJC1c0_rA8PeqNpVIMEsxS7twNnVjAyEqChq9QKhD6tWGFU_70XL94nnilkYRIgk8kQRcA3QetWTOGFxNu6d-EadgyCucOAgscjP3xpUoa6XCTnZZaMm3ncsLa9Mhqlni90pJFOyN-C8CyXzqsxAIVJ-gfN2CTaxaX9o6pEyrAz7XT9xFVGh6Hdzxg42H4Pdnms0ouDGBAj5L6XBTeTgpes9vmm7KtI83xEOvZnI5PTk6CZFcQDjKkjFhtgn0YJsKVlqkbX88VApdeo1Tx-H1T7_nlwARRR5hFq1gNRuJ--0-l4Cl4HPL9B3-7FXexVOG_yUgTgGms3g_Dj51-HAPjdrM_umWq4z9rChoPkewg9Ps0aXtaLlSbMaxO-S__518TDoY82MdF6MNdzbInDNqJ32LeZK1o4DRAEaK8e_NziZTq2mNtFygK3u_1c-auMz_DTTPsksSxu6HxfbcaAI_l215RPZamvhTIpSFSnYsF9X1xYh520cZop5dxw1qhwCCOzhpdHC1XnQHktzhkz1xmA9jnqjfOzOiflLqdkkhXL-O1fkJAaxMEq9M83FXm6CzcbCHC7TuDHSeRoUqypUVfGMvzqGQ9sXJLKo6aSxEwX71fHanoWI0ezRJeQg=w377-h669-no"}
              .summary_inner
                %p.user_info
                  %a
                %a
                  %div
                    %strong
                      %span.user_age
                        41歳
                      %span.user_area
                        東京
                    %span.user_profile_item
                      牛の研究者
                    %span.user_profile_item
                      0万円
                    %span.user_profile_item
                      171cm
                %ul.user_community_list.sample
                  %li.community_item<>
                    %a{class: "community_link", href: "http://aiko.com"}
                      aiko
                  %li.community_item<>
                    %a{class: "community_link", href: "http://www.miwa-web.com/"}
                      miwa
                  %li.community_item<>
                    %a{class: "community_link", href: "http://www.flowerflower-net.jp/"}
                      FlowerFlower
              .visitor_like_box
                .data_like_buttons.like
                  %span
                    %a{class: "button_like button_like_default button_pink_c button_like_view button_d"}
                      %span.like
                        いいね！
          %tr
            %th{class: "date", rowspan: "3"}
              2月29日
            %td{class: "time", rowspan: "1"}
              24:55
            %td.user_summary
              %a{href: ""}
                %img{class: "user_image image-circle", src: "https://lh3.googleusercontent.com/OFx6xjhl0VlC7VSSt52JE8xP0qpx84h2qWbCJC1c0_rA8PeqNpVIMEsxS7twNnVjAyEqChq9QKhD6tWGFU_70XL94nnilkYRIgk8kQRcA3QetWTOGFxNu6d-EadgyCucOAgscjP3xpUoa6XCTnZZaMm3ncsLa9Mhqlni90pJFOyN-C8CyXzqsxAIVJ-gfN2CTaxaX9o6pEyrAz7XT9xFVGh6Hdzxg42H4Pdnms0ouDGBAj5L6XBTeTgpes9vmm7KtI83xEOvZnI5PTk6CZFcQDjKkjFhtgn0YJsKVlqkbX88VApdeo1Tx-H1T7_nlwARRR5hFq1gNRuJ--0-l4Cl4HPL9B3-7FXexVOG_yUgTgGms3g_Dj51-HAPjdrM_umWq4z9rChoPkewg9Ps0aXtaLlSbMaxO-S__518TDoY82MdF6MNdzbInDNqJ32LeZK1o4DRAEaK8e_NziZTq2mNtFygK3u_1c-auMz_DTTPsksSxu6HxfbcaAI_l215RPZamvhTIpSFSnYsF9X1xYh520cZop5dxw1qhwCCOzhpdHC1XnQHktzhkz1xmA9jnqjfOzOiflLqdkkhXL-O1fkJAaxMEq9M83FXm6CzcbCHC7TuDHSeRoUqypUVfGMvzqGQ9sXJLKo6aSxEwX71fHanoWI0ezRJeQg=w377-h669-no"}
              .summary_inner
                %p.user_info
                  %a
                %a
                  %div
                    %strong
                      %span.user_age
                        41歳
                      %span.user_area
                        東京
                    %span.user_profile_item
                      牛の研究者
                    %span.user_profile_item
                      0万円
                    %span.user_profile_item
                      171cm
                %ul.user_community_list.sample
                  %li.community_item<>
                    %a{class: "community_link", href: "http://aiko.com"}
                      aiko
                  %li.community_item<>
                    %a{class: "community_link", href: "http://www.miwa-web.com/"}
                      miwa
                  %li.community_item<>
                    %a{class: "community_link", href: "http://www.flowerflower-net.jp/"}
                      FlowerFlower
              .visitor_like_box
                .data_like_buttons.like
                  %span
                    %a{class: "button_like button_like_default button_pink_c button_like_view button_d"}
                      %span.like
                        いいね！
          %tr
            %td{class: "time", rowspan: "1"}
              25:39
            %td.user_summary
              %a{href: ""}
                %img{class: "user_image image-circle", src: "https://lh3.googleusercontent.com/OFx6xjhl0VlC7VSSt52JE8xP0qpx84h2qWbCJC1c0_rA8PeqNpVIMEsxS7twNnVjAyEqChq9QKhD6tWGFU_70XL94nnilkYRIgk8kQRcA3QetWTOGFxNu6d-EadgyCucOAgscjP3xpUoa6XCTnZZaMm3ncsLa9Mhqlni90pJFOyN-C8CyXzqsxAIVJ-gfN2CTaxaX9o6pEyrAz7XT9xFVGh6Hdzxg42H4Pdnms0ouDGBAj5L6XBTeTgpes9vmm7KtI83xEOvZnI5PTk6CZFcQDjKkjFhtgn0YJsKVlqkbX88VApdeo1Tx-H1T7_nlwARRR5hFq1gNRuJ--0-l4Cl4HPL9B3-7FXexVOG_yUgTgGms3g_Dj51-HAPjdrM_umWq4z9rChoPkewg9Ps0aXtaLlSbMaxO-S__518TDoY82MdF6MNdzbInDNqJ32LeZK1o4DRAEaK8e_NziZTq2mNtFygK3u_1c-auMz_DTTPsksSxu6HxfbcaAI_l215RPZamvhTIpSFSnYsF9X1xYh520cZop5dxw1qhwCCOzhpdHC1XnQHktzhkz1xmA9jnqjfOzOiflLqdkkhXL-O1fkJAaxMEq9M83FXm6CzcbCHC7TuDHSeRoUqypUVfGMvzqGQ9sXJLKo6aSxEwX71fHanoWI0ezRJeQg=w377-h669-no"}
              .summary_inner
                %p.user_info
                  %a
                %a
                  %div
                    %strong
                      %span.user_age
                        41歳
                      %span.user_area
                        東京
                    %span.user_profile_item
                      牛の研究者
                    %span.user_profile_item
                      0万円
                    %span.user_profile_item
                      171cm
                %ul.user_community_list.sample
                  %li.community_item<>
                    %a{class: "community_link", href: "http://aiko.com"}
                      aiko
                  %li.community_item<>
                    %a{class: "community_link", href: "http://www.miwa-web.com/"}
                      miwa
                  %li.community_item<>
                    %a{class: "community_link", href: "http://www.flowerflower-net.jp/"}
                      FlowerFlower
              .visitor_like_box
                .data_like_buttons.like
                  %span
                    %a{class: "button_like button_like_default button_pink_c button_like_view button_d"}
                      %span.like
                        いいね！
    .box_visitor_pager
      %p.pager_info.common_text.text_center
        %span.pager_count
          13
          人中
        %span.pager_start
          1
          〜
        %span.pager_end
          10
          人を表示
      .box_result_pager.box_pager
        %a.pager_pre.pager_item.button_c.button_white_a
          マエへ
        %ol.pager_nums
          壱　弐
        %a.pager_next.pager_item.button_c.button_white_a
          ツギヘ
    .box_more_visitor.ng-hide
      %p.three_dots
        %img{src: "https://lh3.googleusercontent.com/1VAg-IfyLEe_un2b-EVOODXGNSnfbGY_03N3XldfBdy6UdK4_Ak8guQaY7rexgqeNlf5xLNIR0bovEqWDH1RktnddApBxkjW0OtppYolC1IRSP8m_ko-H4nggGXdc3B9Jyc1CHG2huLcRAaPB0FWrVQS-vLYCIoYd3FGSeHw9M4M6Cc9Hm-TEMNoc9VgAyIHtOOo34G-rF2rquVIQuBceRGlEkfYEIePpSV_aVKx5LrRd6har5WGK2l8Tu0g301DPygWBWU6JTbBMjKlNrEdGhpRImfTi67-K2udpsZiBsMWL7jBfAf4PQ3iIgM3niLUDFWcmMtpmVIaDsvv7rX6eo-PSQ-MoVbKfzxhbth-tBoFplDucuNHOK_7cbiTDztAFE2Nu35t6i4II71TvYQLfIexZUQcKccThgtTlptSFkM11PnwIz1Ur-n5XPU9UZUgxOzI6Ch-KVM2Y041RZUZhRuNtYPUUP-cn4nq8faFEBtRTy5qQkaEIoMMS5OE65KGgiemafXvN4F-ov4oXyBdOHtqYaV8pokxrS__5qgsts3Is9UxSbf5gpVBHaOpAUUKxSG-gDN86LOAHlN-P-b_DO-WOvAbuQ14hyhwtD3v2CMh92p6br-gq1CGpM6fIAsBYr3Vff6ZSdyFYTlH4KCTY5hObVdE771T=w4-h20-no"}
      %p.more_visitor_text
        年齢確認をすると、足あとを6人以上見ることができます。
      .common_button_area.mb20
        %p.button_item.w40p
          %a{href: "", class: "button_e button_pink_b"}
            年齢を確認する
