.ui-view.class_style
  .data-membership-point-about
    .main.box_member_view.contents_padding
      .common_page_header
        %span.page_tile.icon_square
          Pairsポイント
      #about_point
        .common_page_box#purchase_point
        .common_page_box#how_to_use_point
        .data-exchange-point
        .point_log_link


