.box_modal_personal_view
  .box_personal_view
    .box_personal_inner01
      .personal_inner_left
        .box_user_custom_display
          / 下記、『設定ボタン』からポップアップする画面
          / 詳細項目はダミーが入っている
          .box_custom_display_form
            .custom_display_form_inner
              %p.custom_display_form_title
                見たいプロフィール 表示/非表示 設定
              %ul.custom_display_form_list
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{name: "s5", type: "checkbox"}/
                  %label{for: "partner_profile_setting_age"}年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-valid.ng-dirty.ng-valid-parse.ng-touched.ng-not-empty{name: "s5", type: "checkbox"}/
                  %label{for: "partner_profile_setting_residence_state"}居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-pristine.ng-untouched.ng-valid.ng-not-empty{:checked => "checked", :name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_residence_state"}居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-pristine.ng-untouched.ng-valid.ng-not-empty{:checked => "checked", :name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_residence_state"}居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-pristine.ng-untouched.ng-valid.ng-not-empty{:checked => "checked", :name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_residence_state"}居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-pristine.ng-untouched.ng-valid.ng-not-empty{:checked => "checked", :name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_residence_state"}居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-pristine.ng-untouched.ng-valid.ng-not-empty{:checked => "checked", :name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_residence_state"}居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-pristine.ng-untouched.ng-valid.ng-not-empty{:checked => "checked", :name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_residence_state"}居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-pristine.ng-untouched.ng-valid.ng-not-empty{:checked => "checked", :name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_residence_state"}居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-pristine.ng-untouched.ng-valid.ng-not-empty{:checked => "checked", :name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_residence_state"}居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-pristine.ng-untouched.ng-valid.ng-not-empty{:checked => "checked", :name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_residence_state"}居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-pristine.ng-untouched.ng-valid.ng-not-empty{:checked => "checked", :name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_residence_state"}居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-pristine.ng-untouched.ng-valid.ng-not-empty{:checked => "checked", :name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_residence_state"}居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-pristine.ng-untouched.ng-valid.ng-not-empty{:checked => "checked", :name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_residence_state"}居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_nationality.ng-valid.ng-empty.ng-pristine.ng-untouched{name: "s5", type: "checkbox"}/
                  %label{for: "partner_profile_setting_nationality"}国籍
              .text_center
                %button.button_cancel.button_a.button_white_a
                  キャンセル
                %button.button_commit.button_a.button_blue_a
                  保存する
%div{class: "example", style: "background-color:pink;"}
  / 『表示設定』ボタンからの『非表示・ブロックの設定』ポップアップ
  / div名『data-hide-block-modal』内にある
  .box_modal_window.modal_fixed.modal_animation.hide_block_select.box_modal_like_with_text.top_modal
    .box_modal_window_inner
      %a.modal_close
        %img{src: "https://lh3.googleusercontent.com/JZ5QgP9n4HLC-gnXIcJAsLL2zh7NV0OxNWjjOWOoxbD5gU8a1VBfjDBNzifCYTU9cwBfJByoPM6QPg0BMLsgcA2biofLRmrpfI3trDe8vXreEbsQQ4q9HR_n7iPL3E16d3a4k0W4saje0qJMC6j2vyVepU1EWQj2BEiQcB8iXviUAhzI3Rw4cPIAzZUKv4FJf8d2gBODxBt7nUyWkdR6DlUuAo5X8WxW-7c7PRb9Z0_VzojmdeKrOGmtTYE4LGflbY4dkwRUt7owI0oYY-NWZGRiyMBANMfnfKJZrM7NrA8R3gvX6gNxQ9lb-2H4kdZBxnNJJiIZCbA3U6FkJ7L7qCoRPcSY7A31anQLjuZp2F6zQEbKRZevBtrU6KfCGEMf-k6a7dNbTfx1LiwUa1WbXcWmrqXt1upE1hSlolc4bc5xDXHh22L9OydnIHQ7M8LB-Pqk-9nDdHAM4MpYk16mGNSgFaV7wPAdPAHqTcF3szUqQ-r-wAqSmcb_8RmKplujpNHYcRI1-42F9gCF4ibvYV3ir1fGRZIRkYQsqtbbXReqsQi_mfqmJ5djsW1f60oR9kuTiMMjvMChx8b0a1O19Iin7jEfomS9fvQUKdQuscsYlMTcNddsNpFkrO1GiBLkR_hqVzUHmtQPZC2_Omnx8veBWnRVDywk=s53-no"}/
      %p.modal_sub_title_b
        非表示・ブロックの設定
      .modal_hideblock_text
        %p
          %span.nickname Yuki
          さんを非表示またはブロックの設定ができます。
        %p 設定したい内容を下記から選択してください。
      .modal_note_border
        %ul
          %li
            %input#hide_block_hide.hide_block_radio.ng-pristine.ng-untouched.ng-valid.ng-empty{name: "30", type: "radio", value: "hide"}/
            %label{for: "hide_block_hide"} 非表示
          %li
            %input#hide_block_block.hide_block_radio.ng-pristine.ng-untouched.ng-valid.ng-empty{name: "31", type: "radio", value: "block"}/
            %label{for: "hide_block_block"} ブロック
        %div
          .modal_hideblock_inner_text
            ▼非表示
            %br/
            お客様の画面にお相手が表示されないようになります。
            %br/
            「特に問題があったわけではないが当面表示しておきたくないお相手」を検索結果やメッセージのリストなどに現れなくする機能です。

          .modal_hideblock_inner_text_notice
            ※非表示は、各種設定の「非表示ユーザーリスト」から設定解除できます。
        %div
          .modal_hideblock_inner_text
            ▼ブロック
            %br/
            お互いに一切のコンタクトができなくなります。
          .modal_hideblock_inner_text_notice
            %span.text_red ※一度、お相手をブロックすると解除することができません。
            %br/
            ※お相手の「いいね」「お気に入り」「メッセージ」画面には、お客様が「退会済み」として表示されます。
      .modal_button_area.text_center.mt30
        %button.button_a.button_white_a.w30p キャンセル
        %button.button_a.button_red_a.w30p 設定する
  / 『非表示完了時』ポップアップ
  / div名『data-hide-block-hide-complete-modal』内にある
  .box_modal_window.modal_fixed.modal_animation.hide_complete.box_modal_like_with_text
    .box_modal_window_inner.original_class
      %a.modal_close
        %img{src: "https://lh3.googleusercontent.com/JZ5QgP9n4HLC-gnXIcJAsLL2zh7NV0OxNWjjOWOoxbD5gU8a1VBfjDBNzifCYTU9cwBfJByoPM6QPg0BMLsgcA2biofLRmrpfI3trDe8vXreEbsQQ4q9HR_n7iPL3E16d3a4k0W4saje0qJMC6j2vyVepU1EWQj2BEiQcB8iXviUAhzI3Rw4cPIAzZUKv4FJf8d2gBODxBt7nUyWkdR6DlUuAo5X8WxW-7c7PRb9Z0_VzojmdeKrOGmtTYE4LGflbY4dkwRUt7owI0oYY-NWZGRiyMBANMfnfKJZrM7NrA8R3gvX6gNxQ9lb-2H4kdZBxnNJJiIZCbA3U6FkJ7L7qCoRPcSY7A31anQLjuZp2F6zQEbKRZevBtrU6KfCGEMf-k6a7dNbTfx1LiwUa1WbXcWmrqXt1upE1hSlolc4bc5xDXHh22L9OydnIHQ7M8LB-Pqk-9nDdHAM4MpYk16mGNSgFaV7wPAdPAHqTcF3szUqQ-r-wAqSmcb_8RmKplujpNHYcRI1-42F9gCF4ibvYV3ir1fGRZIRkYQsqtbbXReqsQi_mfqmJ5djsW1f60oR9kuTiMMjvMChx8b0a1O19Iin7jEfomS9fvQUKdQuscsYlMTcNddsNpFkrO1GiBLkR_hqVzUHmtQPZC2_Omnx8veBWnRVDywk=s53-no"}/
      %p.modal_sub_title_b
        %span.nickname Yuki
        さんを非表示にしました。
      .modal_text_b.modal_note_area_b.common_text
        非表示にしたユーザーは各種設定の
        %a{href: "/privacy_setting#box_hide_block"} 非表示ユーザーリスト
        から設定解除することができます。
      .modal_button_area.text_center.mt30
        %button.button_a.button_white_a.w30p
          閉じる
  / 『非表示解除時』ポップアップ
  / div名『data-alert-modal』内にある
  .box_modal_window.modal_fixed.modal_animation.hide_complete.box_modal_like_with_text
    .box_modal_window_inner.original_class
      %a.modal_close
        %img{src: "https://lh3.googleusercontent.com/JZ5QgP9n4HLC-gnXIcJAsLL2zh7NV0OxNWjjOWOoxbD5gU8a1VBfjDBNzifCYTU9cwBfJByoPM6QPg0BMLsgcA2biofLRmrpfI3trDe8vXreEbsQQ4q9HR_n7iPL3E16d3a4k0W4saje0qJMC6j2vyVepU1EWQj2BEiQcB8iXviUAhzI3Rw4cPIAzZUKv4FJf8d2gBODxBt7nUyWkdR6DlUuAo5X8WxW-7c7PRb9Z0_VzojmdeKrOGmtTYE4LGflbY4dkwRUt7owI0oYY-NWZGRiyMBANMfnfKJZrM7NrA8R3gvX6gNxQ9lb-2H4kdZBxnNJJiIZCbA3U6FkJ7L7qCoRPcSY7A31anQLjuZp2F6zQEbKRZevBtrU6KfCGEMf-k6a7dNbTfx1LiwUa1WbXcWmrqXt1upE1hSlolc4bc5xDXHh22L9OydnIHQ7M8LB-Pqk-9nDdHAM4MpYk16mGNSgFaV7wPAdPAHqTcF3szUqQ-r-wAqSmcb_8RmKplujpNHYcRI1-42F9gCF4ibvYV3ir1fGRZIRkYQsqtbbXReqsQi_mfqmJ5djsW1f60oR9kuTiMMjvMChx8b0a1O19Iin7jEfomS9fvQUKdQuscsYlMTcNddsNpFkrO1GiBLkR_hqVzUHmtQPZC2_Omnx8veBWnRVDywk=s53-no"}/
      .modal_text_a.fnt16.message
        非表示を解除しました
      .modal_button_area.text_center.mt30
        %button.button_a.button_white_a.w30p.modal-ok
          閉じる
  / 『右上アイコン』からのポップアップ
  #box_header_message.box_header_message
    #hasUnreadNotification.box_no_matching.ng-hide
      %p
        まだマッチングをしていません。
    #hasUnreadNotification
      .box_message_list_title
        %p.list_title
          メッセージ
        %p#matching_count.matching_summary.ng-hide
          %em<>
            %span> 1
            人
          の女性とマッチングしています。
        %p#matching_count.matching_summary
          %em<>
            %span> 1
            人
          の男性とマッチングしています。
      %ol#box_matching_list.box_matching_list.box_inner_scroll.ps-container.ps-theme-default
        %li#notify_item.matching_item
          %a
            %img.user_photo.image-circle{src: "https://lh3.googleusercontent.com/OFx6xjhl0VlC7VSSt52JE8xP0qpx84h2qWbCJC1c0_rA8PeqNpVIMEsxS7twNnVjAyEqChq9QKhD6tWGFU_70XL94nnilkYRIgk8kQRcA3QetWTOGFxNu6d-EadgyCucOAgscjP3xpUoa6XCTnZZaMm3ncsLa9Mhqlni90pJFOyN-C8CyXzqsxAIVJ-gfN2CTaxaX9o6pEyrAz7XT9xFVGh6Hdzxg42H4Pdnms0ouDGBAj5L6XBTeTgpes9vmm7KtI83xEOvZnI5PTk6CZFcQDjKkjFhtgn0YJsKVlqkbX88VApdeo1Tx-H1T7_nlwARRR5hFq1gNRuJ--0-l4Cl4HPL9B3-7FXexVOG_yUgTgGms3g_Dj51-HAPjdrM_umWq4z9rChoPkewg9Ps0aXtaLlSbMaxO-S__518TDoY82MdF6MNdzbInDNqJ32LeZK1o4DRAEaK8e_NziZTq2mNtFygK3u_1c-auMz_DTTPsksSxu6HxfbcaAI_l215RPZamvhTIpSFSnYsF9X1xYh520cZop5dxw1qhwCCOzhpdHC1XnQHktzhkz1xmA9jnqjfOzOiflLqdkkhXL-O1fkJAaxMEq9M83FXm6CzcbCHC7TuDHSeRoUqypUVfGMvzqGQ9sXJLKo6aSxEwX71fHanoWI0ezRJeQg=w377-h669-no"}/
            .info_inner
              .user_info01
                %span{limit_length: "5"}
                  Yuki
                %span
                  21歳
                %span{limit_length: "8"}
                  北海道
              .user_info02
                %p.message.text_ellipsis.ng-hide
                  マッチングが成立しました！
                %p.message.text_ellipsis.ng-hide
                  Facebookが公開されました！
                %p.message.text_ellipsis.ng-hide
                  スタンプを送信しました。
                %p.message.text_ellipsis.ng-hide
                  スタンプが届きました。
                %p.message.text_ellipsis.ng-hide
                  写真を送信しました。
                %p.message.text_ellipsis.ng-hide
                  写真が届きました。
                %p.message.text_ellipsis
                  相手へ送信したメッセ15文字分？
                %p.message.text_ellipsis.ng-hide
                  メッセージが届いています。
                %p.message.text_ellipsis.ng-hide
                  メッセージ交換をしていません。
              %p.login_time
                3/3 18:24
        .ps-scrollbar-x-rail{:style => "left: 0px; bottom: 3px;"}
          .ps-scrollbar-x{:sytle => "left: 0px; width: 0px;", :tabinex => "0"}
        .ps-scrollbar-y-rail{:style => "top: 0px; right: 3px;"}
          .ps-scrollbar-y{:sytle => "top: 0px; height: 0px;", :tabinex => "0"}
      .box_message_all_more
        %a.link_all_more{:href => "#/message"}
          すべて見る
