.box_modal_personal_view
  .box_personal_view
    .box_personal_inner01
      .personal_inner_left
        .box_user_custom_display
          / 下記、『設定ボタン』からポップアップする画面
          / 詳細項目はダミーが入っている
          .box_custom_display_form
            .custom_display_form_inner
              %p.custom_display_form_title
                見たいプロフィール 表示/非表示 設定
              %ul.custom_display_form_list
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}
                    年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-pristine.ng-untouched.ng-valid.ng-not-empty{:checked => "checked", :name => "s5", :type => "checkbox"}/
                  / check属性は消す
                  %label{:for => "partner_profile_setting_residence_state"}
                    居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}
                    年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-pristine.ng-untouched.ng-valid.ng-not-empty{:checked => "checked", :name => "s5", :type => "checkbox"}/
                  / check属性は消す
                  %label{:for => "partner_profile_setting_residence_state"}
                    居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}
                    年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-pristine.ng-untouched.ng-valid.ng-not-empty{:checked => "checked", :name => "s5", :type => "checkbox"}/
                  / check属性は消す
                  %label{:for => "partner_profile_setting_residence_state"}
                    居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}
                    年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-pristine.ng-untouched.ng-valid.ng-not-empty{:checked => "checked", :name => "s5", :type => "checkbox"}/
                  / check属性は消す
                  %label{:for => "partner_profile_setting_residence_state"}
                    居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}
                    年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-pristine.ng-untouched.ng-valid.ng-not-empty{:checked => "checked", :name => "s5", :type => "checkbox"}/
                  / check属性は消す
                  %label{:for => "partner_profile_setting_residence_state"}
                    居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}
                    年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-pristine.ng-untouched.ng-valid.ng-not-empty{:checked => "checked", :name => "s5", :type => "checkbox"}/
                  / check属性は消す
                  %label{:for => "partner_profile_setting_residence_state"}
                    居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}
                    年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-pristine.ng-untouched.ng-valid.ng-not-empty{:checked => "checked", :name => "s5", :type => "checkbox"}/
                  / check属性は消す
                  %label{:for => "partner_profile_setting_residence_state"}
                    居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}
                    年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-pristine.ng-untouched.ng-valid.ng-not-empty{:checked => "checked", :name => "s5", :type => "checkbox"}/
                  / check属性は消す
                  %label{:for => "partner_profile_setting_residence_state"}
                    居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}
                    年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-pristine.ng-untouched.ng-valid.ng-not-empty{:checked => "checked", :name => "s5", :type => "checkbox"}/
                  / check属性は消す
                  %label{:for => "partner_profile_setting_residence_state"}
                    居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}
                    年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-pristine.ng-untouched.ng-valid.ng-not-empty{:checked => "checked", :name => "s5", :type => "checkbox"}/
                  / check属性は消す
                  %label{:for => "partner_profile_setting_residence_state"}
                    居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}
                    年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-pristine.ng-untouched.ng-valid.ng-not-empty{:checked => "checked", :name => "s5", :type => "checkbox"}/
                  / check属性は消す
                  %label{:for => "partner_profile_setting_residence_state"}
                    居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}
                    年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-pristine.ng-untouched.ng-valid.ng-not-empty{:checked => "checked", :name => "s5", :type => "checkbox"}/
                  / check属性は消す
                  %label{:for => "partner_profile_setting_residence_state"}
                    居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}
                    年齢
                %li.form_item.nomargin.is_checked
                  %input#partner_profile_setting_residence_state.ng-pristine.ng-untouched.ng-valid.ng-not-empty{:checked => "checked", :name => "s5", :type => "checkbox"}/
                  / check属性は消す
                  %label{:for => "partner_profile_setting_residence_state"}
                    居住地
                %li.form_item.nomargin
                  %input#partner_profile_setting_age.ng-valid.ng-empty.ng-dirty.ng-valid-parse.ng-touched{:name => "s5", :type => "checkbox"}/
                  %label{:for => "partner_profile_setting_age"}
                    年齢
              .text_center
                %button.button_cancel.button_a.button_white_a
                  キャンセル
                %button.button_commit.button_a.button_blue_a
                  保存する
%div{class: "example", style: "background-color:pink;"}
  / 『表示設定』ボタンからの『非表示・ブロックの設定』ポップアップ
  / div名『data-hide-block-modal』内にある
  .box_modal_window.modal_fixed.modal_animation.hide_block_select.box_modal_like_with_text.top_modal
    .box_modal_window_inner
      %a.modal_close
        %img{src: "https://lh3.googleusercontent.com/JZ5QgP9n4HLC-gnXIcJAsLL2zh7NV0OxNWjjOWOoxbD5gU8a1VBfjDBNzifCYTU9cwBfJByoPM6QPg0BMLsgcA2biofLRmrpfI3trDe8vXreEbsQQ4q9HR_n7iPL3E16d3a4k0W4saje0qJMC6j2vyVepU1EWQj2BEiQcB8iXviUAhzI3Rw4cPIAzZUKv4FJf8d2gBODxBt7nUyWkdR6DlUuAo5X8WxW-7c7PRb9Z0_VzojmdeKrOGmtTYE4LGflbY4dkwRUt7owI0oYY-NWZGRiyMBANMfnfKJZrM7NrA8R3gvX6gNxQ9lb-2H4kdZBxnNJJiIZCbA3U6FkJ7L7qCoRPcSY7A31anQLjuZp2F6zQEbKRZevBtrU6KfCGEMf-k6a7dNbTfx1LiwUa1WbXcWmrqXt1upE1hSlolc4bc5xDXHh22L9OydnIHQ7M8LB-Pqk-9nDdHAM4MpYk16mGNSgFaV7wPAdPAHqTcF3szUqQ-r-wAqSmcb_8RmKplujpNHYcRI1-42F9gCF4ibvYV3ir1fGRZIRkYQsqtbbXReqsQi_mfqmJ5djsW1f60oR9kuTiMMjvMChx8b0a1O19Iin7jEfomS9fvQUKdQuscsYlMTcNddsNpFkrO1GiBLkR_hqVzUHmtQPZC2_Omnx8veBWnRVDywk=s53-no"}/
      %p.modal_sub_title_b
        非表示・ブロックの設定
      .modal_hideblock_text
        %p
          %span.nickname Yuki
          さんを非表示またはブロックの設定ができます。
        %p 設定したい内容を下記から選択してください。
      .modal_note_border
        %ul
          %li
            %input#hide_block_hide.hide_block_radio.ng-pristine.ng-untouched.ng-valid.ng-empty{name: "30", type: "radio", value: "hide"}/
            %label{for: "hide_block_hide"} 非表示
          %li
            %input#hide_block_block.hide_block_radio.ng-pristine.ng-untouched.ng-valid.ng-empty{name: "31", type: "radio", value: "block"}/
            %label{for: "hide_block_block"} ブロック
        %div
          .modal_hideblock_inner_text
            ▼非表示
            %br/
            お客様の画面にお相手が表示されないようになります。
            %br/
            「特に問題があったわけではないが当面表示しておきたくないお相手」を検索結果やメッセージのリストなどに現れなくする機能です。

          .modal_hideblock_inner_text_notice
            ※非表示は、各種設定の「非表示ユーザーリスト」から設定解除できます。
        %div
          .modal_hideblock_inner_text
            ▼ブロック
            %br/
            お互いに一切のコンタクトができなくなります。
          .modal_hideblock_inner_text_notice
            %span.text_red ※一度、お相手をブロックすると解除することができません。
            %br/
            ※お相手の「いいね」「お気に入り」「メッセージ」画面には、お客様が「退会済み」として表示されます。
      .modal_button_area.text_center.mt30
        %button.button_a.button_white_a.w30p キャンセル
        %button.button_a.button_red_a.w30p 設定する
  / 『非表示完了時』ポップアップ
  / div名『data-hide-block-hide-complete-modal』内にある
  .box_modal_window.modal_fixed.modal_animation.hide_complete.box_modal_like_with_text
    .box_modal_window_inner.original_class
      %a.modal_close
        %img{src: "https://lh3.googleusercontent.com/JZ5QgP9n4HLC-gnXIcJAsLL2zh7NV0OxNWjjOWOoxbD5gU8a1VBfjDBNzifCYTU9cwBfJByoPM6QPg0BMLsgcA2biofLRmrpfI3trDe8vXreEbsQQ4q9HR_n7iPL3E16d3a4k0W4saje0qJMC6j2vyVepU1EWQj2BEiQcB8iXviUAhzI3Rw4cPIAzZUKv4FJf8d2gBODxBt7nUyWkdR6DlUuAo5X8WxW-7c7PRb9Z0_VzojmdeKrOGmtTYE4LGflbY4dkwRUt7owI0oYY-NWZGRiyMBANMfnfKJZrM7NrA8R3gvX6gNxQ9lb-2H4kdZBxnNJJiIZCbA3U6FkJ7L7qCoRPcSY7A31anQLjuZp2F6zQEbKRZevBtrU6KfCGEMf-k6a7dNbTfx1LiwUa1WbXcWmrqXt1upE1hSlolc4bc5xDXHh22L9OydnIHQ7M8LB-Pqk-9nDdHAM4MpYk16mGNSgFaV7wPAdPAHqTcF3szUqQ-r-wAqSmcb_8RmKplujpNHYcRI1-42F9gCF4ibvYV3ir1fGRZIRkYQsqtbbXReqsQi_mfqmJ5djsW1f60oR9kuTiMMjvMChx8b0a1O19Iin7jEfomS9fvQUKdQuscsYlMTcNddsNpFkrO1GiBLkR_hqVzUHmtQPZC2_Omnx8veBWnRVDywk=s53-no"}/
      %p.modal_sub_title_b
        %span.nickname Yuki
        さんを非表示にしました。
      .modal_text_b.modal_note_area_b.common_text
        非表示にしたユーザーは各種設定の
        %a{href: "/privacy_setting#box_hide_block"} 非表示ユーザーリスト
        から設定解除することができます。
      .modal_button_area.text_center.mt30
        %button.button_a.button_white_a.w30p
          閉じる
  / 『非表示解除時』ポップアップ
  / div名『data-alert-modal』内にある
  .box_modal_window.modal_fixed.modal_animation.hide_complete.box_modal_like_with_text
    .box_modal_window_inner.original_class
      %a.modal_close
        %img{src: "https://lh3.googleusercontent.com/JZ5QgP9n4HLC-gnXIcJAsLL2zh7NV0OxNWjjOWOoxbD5gU8a1VBfjDBNzifCYTU9cwBfJByoPM6QPg0BMLsgcA2biofLRmrpfI3trDe8vXreEbsQQ4q9HR_n7iPL3E16d3a4k0W4saje0qJMC6j2vyVepU1EWQj2BEiQcB8iXviUAhzI3Rw4cPIAzZUKv4FJf8d2gBODxBt7nUyWkdR6DlUuAo5X8WxW-7c7PRb9Z0_VzojmdeKrOGmtTYE4LGflbY4dkwRUt7owI0oYY-NWZGRiyMBANMfnfKJZrM7NrA8R3gvX6gNxQ9lb-2H4kdZBxnNJJiIZCbA3U6FkJ7L7qCoRPcSY7A31anQLjuZp2F6zQEbKRZevBtrU6KfCGEMf-k6a7dNbTfx1LiwUa1WbXcWmrqXt1upE1hSlolc4bc5xDXHh22L9OydnIHQ7M8LB-Pqk-9nDdHAM4MpYk16mGNSgFaV7wPAdPAHqTcF3szUqQ-r-wAqSmcb_8RmKplujpNHYcRI1-42F9gCF4ibvYV3ir1fGRZIRkYQsqtbbXReqsQi_mfqmJ5djsW1f60oR9kuTiMMjvMChx8b0a1O19Iin7jEfomS9fvQUKdQuscsYlMTcNddsNpFkrO1GiBLkR_hqVzUHmtQPZC2_Omnx8veBWnRVDywk=s53-no"}/
      .modal_text_a.fnt16.message
        非表示を解除しました
      .modal_button_area.text_center.mt30
        %button.button_a.button_white_a.w30p.modal-ok
          閉じる
  / 『違反者通報箇所』（別ページ）
  .main.box_violation_view.contents_padding
    .common_page_box
      %p.common_title
        違反報告フォーム
      .common_box_inner
        %p.common_text.mt10.mb20
          ユーザーの皆さまにPairsを快適にご利用いただくため、
          %a.link{href: "https://pairs.lv/#/static/termsofservice", target: "_blank"}
            利用規約
            %img{src: "https://lh3.googleusercontent.com/ShHUxBToZXl5H7jJqOPlmslDhSX1pj-BZXe9uqRrUu9S5fa6q9C6qsipCPEE13hDSanZnYfBN-HDe39J7zvZ4rVITPEUTfVZ4-ff4SeLjxeKEtMS8w-CKUwycKMLsa9uYxDBbfN0kfOesM-YUft99QmqKTH-eSAYLz0ARxwN8Z0XqrpABFIKiVSm0W-nEowfJj9eV7_S49PjKhUVVdmh4bKJF7dx3QrB0Rv_shQAEwPThtz8J8C_TptScKZSCntbIH1F9pWvtocknJ-dz8Ri_rkp8aX3-9aNT7_Vu-1gKM-_YfhsQb0Pmw4rmi11pCjzJfN_3XcOZnP1Pwfq2N5G9Z5bAXPbdO2Z8c7ntEIF6GN362yz80mGnE6Ts0mpzBt_mhMi_7H0uJajTaYJee5jDWS-_0o0dR--DmhLUh2fPyNHh3QzCEybeLCoZWb7gHh97AmRHlTWh1PIALGRaUKthW8AYW87cnp9tda82VfLGKpC3SA_7U3waG6gahSH6WeJuzyoL5RyVR6dg2qAHJLbqR6go7CbhKst9JboXojY0TuUqC223ui7ZBcaQGh69obwYX5kuMRZ1WmIxoeriBt8JFrfOv3AWXTF4T11616GL506WDTlxNNxMU75_9e0kl06AM7nw7EYBCGvSQvRaJyKqEE3jjDu14JM=w12-h9-no"}
          に反していると思われる
          %br/
          ユーザーを発見した場合は、できるだけ具体的に以下のフォームにご記入ください。
        %p.common_text.mb5.fnt12.ng-hide
          %em ※「違反箇所」を選択してください。
        %p.common_text.mb5.fnt12.ng-hide
          %em ※「具体的な理由」を入力してください。
        %p.common_text.mb5.fnt12.ng-hide
          %em ※「具体的な理由」は200文字以内で入力してください。
        .common_box_inner
          %form#js_violation_form.hg-pristine.ng-valid
            .common_table_b.common_form
              %input#user_id{autocomplite: "off", name: "partID", type: "hidden", value: "<?($user->id) ?>"}/
              %table.mb30
                %tbody
                  %tr
                    %th
                      %p 報告する人
                    %td
                      %img{src: "https://lh3.googleusercontent.com/OFx6xjhl0VlC7VSSt52JE8xP0qpx84h2qWbCJC1c0_rA8PeqNpVIMEsxS7twNnVjAyEqChq9QKhD6tWGFU_70XL94nnilkYRIgk8kQRcA3QetWTOGFxNu6d-EadgyCucOAgscjP3xpUoa6XCTnZZaMm3ncsLa9Mhqlni90pJFOyN-C8CyXzqsxAIVJ-gfN2CTaxaX9o6pEyrAz7XT9xFVGh6Hdzxg42H4Pdnms0ouDGBAj5L6XBTeTgpes9vmm7KtI83xEOvZnI5PTk6CZFcQDjKkjFhtgn0YJsKVlqkbX88VApdeo1Tx-H1T7_nlwARRR5hFq1gNRuJ--0-l4Cl4HPL9B3-7FXexVOG_yUgTgGms3g_Dj51-HAPjdrM_umWq4z9rChoPkewg9Ps0aXtaLlSbMaxO-S__518TDoY82MdF6MNdzbInDNqJ32LeZK1o4DRAEaK8e_NziZTq2mNtFygK3u_1c-auMz_DTTPsksSxu6HxfbcaAI_l215RPZamvhTIpSFSnYsF9X1xYh520cZop5dxw1qhwCCOzhpdHC1XnQHktzhkz1xmA9jnqjfOzOiflLqdkkhXL-O1fkJAaxMEq9M83FXm6CzcbCHC7TuDHSeRoUqypUVfGMvzqGQ9sXJLKo6aSxEwX71fHanoWI0ezRJeQg=w377-h669-no"}/
                      %span.ml10 Yukiさん
                  %tr
                    %th
                      %p 違反箇所
                      %em.required 必須
                    %td.form_radio.common_inline_box
                      %p.parts.mt5.w50p.box_left
                        %input#0.ng-pristine.ng-untouched.ng-valid.ng-empty{name: "258", type: "radio", value: "既婚者"}/
                        %label{for: "0"}
                          既婚者
                      %p.parts.mt5.w50p.box_right
                        %input#1.ng-pristine.ng-untouched.ng-valid.ng-empty{name: "259", type: "radio", value: "恋人がいる"}/
                        %label{for: "1"}
                          恋人がいる
                      %p.parts.mt5.w50p.box_left
                        %input#2.ng-pristine.ng-untouched.ng-valid.ng-empty{name: "260", type: "radio", value: "他サイトやビジネスへの勧誘"}/
                        %label{for: "2"}
                          他サイトやビジネスへの勧誘
                      %p.parts.mt5.w50p.box_right
                        %input#3.ng-pristine.ng-untouched.ng-valid.ng-empty{name: "261", type: "radio", value: "詐欺行為"}/
                        %label{for: "3"}
                          詐欺行為
                      %p.parts.mt5.w50p.box_left
                        %input#4.ng-pristine.ng-untouched.ng-valid.ng-empty{name: "262", type: "radio", value: "商売利用目的"}/
                        %label{for: "4"}
                          商売利用目的
                      %p.parts.mt5.w50p.box_right
                        %input#5.ng-pristine.ng-untouched.ng-valid.ng-empty{name: "263", type: "radio", value: "金銭目的"}/
                        %label{for: "5"}
                          金銭目的
                      %p.parts.mt5.w50p.box_left
                        %input#6.ng-pristine.ng-untouched.ng-valid.ng-empty{name: "264", type: "radio", value: "体の関係目的"}/
                        %label{for: "6"}
                          体の関係目的
                      %p.parts.mt5.w50p.box_right
                        %input#7.ng-pristine.ng-untouched.ng-valid.ng-empty{name: "265", type: "radio", value: "結婚歴、子供の有無の詐欺"}/
                        %label{for: "7"}
                          結婚歴、子供の有無の詐欺
                      %p.parts.mt5.w50p.box_left
                        %input#8.ng-pristine.ng-untouched.ng-valid.ng-empty{name: "266", type: "radio", value: "プロフィール画像の詐欺"}/
                        %label{for: "8"}
                          プロフィール画像の詐欺
                      %p.parts.mt5.w50p.box_right
                        %input#9.ng-pristine.ng-untouched.ng-valid.ng-empty{name: "267", type: "radio", value: "他プロフィール項目の詐欺"}/
                        %label{for: "9"}
                          他プロフィール項目の詐欺
                      %p.parts.mt5.w50p.box_left
                        %input#10.ng-pristine.ng-untouched.ng-valid.ng-empty{name: "268", type: "radio", value: "偽のアカウント"}/
                        %label{for: "10"}
                          偽のアカウント
                      %p.parts.mt5.w50p.box_right
                        %input#11.ng-pristine.ng-untouched.ng-valid.ng-empty{name: "269", type: "radio", value: "不適切な登録内容"}/
                        %label{for: "11"}
                          不適切な登録内容
                      %p.parts.mt5.w50p.box_left
                        %input#12.ng-pristine.ng-untouched.ng-valid.ng-empty{name: "270", type: "radio", value: "無断のドタキャン"}/
                        %label{for: "12"}
                          無断のドタキャン
                      %p.parts.mt5.w50p.box_right
                        %input#13.ng-pristine.ng-untouched.ng-valid.ng-empty{name: "271", type: "radio", value: "メッセージ内容が攻撃的"}/
                        %label{for: "13"}
                          メッセージ内容が攻撃的
                      %p.parts.mt5.w50p.box_left
                        %input#14.ng-pristine.ng-untouched.ng-valid.ng-empty{name: "272", type: "radio", value: "ストーカー行為"}/
                        %label{for: "14"}
                          ストーカー行為
                      %p.parts.mt5.w50p.box_right
                        %input#15.ng-pristine.ng-untouched.ng-valid.ng-empty{name: "273", type: "radio", value: "卑猥な言動"}/
                        %label{for: "15"}
                          卑猥な言動
                      %p.parts.mt5.w50p.box_left
                        %input#16.ng-pristine.ng-untouched.ng-valid.ng-empty{name: "274", type: "radio", value: "個人情報交換後に連絡が途絶えた"}/
                        %label{for: "16"}
                          個人情報交換後に
                          %br
                          連絡が途絶えた
                      %p.parts.mt5.w50p.box_right
                        %input#17.ng-pristine.ng-untouched.ng-valid.ng-empty{name: "275", type: "radio", value: "その他"}/
                        %label{for: "17"}
                          その他
                  %tr
                    %th
                      %p 具体的な理由
                      %em.required 必須
                    %td
                      %textarea.mb10.ng-pristine.ng-untouched.ng-valid.ng-empty{cols: "35", rows: "8", name: "body", id: "reason"}
                      %p.common_note
                        「メッセージで嫌がらせを受けた」「相手が既婚者だった」「他サイトのサクラ行為を行っていた」「ネットワークビジネスの勧誘をうけた」など、できるだけ具体的にお知らせください。
              %p.common_inner_title
                ご注意
              %ul.common_list.mb40
                %li 違反報告の際は、あなたの個人情報を入力しないでください。
                %li
                  Pairs運営事務局にて内容を確認し、利用規約に違反している可能性があると思われる場合は、
                  %br/
                  警告マークの表示や、強制退会などしかるべき処置をとらせていただきます。
                %li いただいた違反報告の内容に対して、個別にご回答はできませんのでご了承ください。
                %li 違反報告をされても、お相手にはどなたにどのような内容でされたか等、一切連絡はいきません。
              .common_button_area.mb40
                %p.button_item.w50p
                  %button#report_violation.button_a.button_blue_a
                    上記の内容で報告する
    #autoload
  / 『右上アイコン』からのポップアップ
  #box_header_message.box_header_message
    #hasUnreadNotification.box_no_matching.ng-hide
      %p
        まだマッチングをしていません。
    #hasUnreadNotification
      .box_message_list_title
        %p.list_title
          メッセージ
        %p#matching_count.matching_summary.ng-hide
          %em
            %span 1
            人
          の女性とマッチングしています。
        %p#matching_count.matching_summary
          %em
            %span 1
            人
          の男性とマッチングしています。
      %ol#box_matching_list.box_matching_list.box_inner_scroll.ps-container.ps-theme-default
        %li#notify_item.matching_item
          %a
            %img.user_photo.image-circle{:height => "55", :src => "images/Yuki.jpg", :width => "55"}/
            .info_inner
              .user_info01
                %span{:limit_length => "5"}
                  Yuki
                %span
                  21歳
                %span{:limit_length => "8"}
                  北海道
              .user_info02
                %p.message.text_ellipsis.ng-hide
                  マッチングが成立しました！
                %p.message.text_ellipsis.ng-hide
                  Facebookが公開されました！
                %p.message.text_ellipsis.ng-hide
                  スタンプを送信しました。
                %p.message.text_ellipsis.ng-hide
                  スタンプが届きました。
                %p.message.text_ellipsis.ng-hide
                  写真を送信しました。
                %p.message.text_ellipsis.ng-hide
                  写真が届きました。
                %p.message.text_ellipsis
                  相手へ送信したメッセ15文字分？
                %p.message.text_ellipsis.ng-hide
                  メッセージが届いています。
                %p.message.text_ellipsis.ng-hide
                  メッセージ交換をしていません。
              %p.login_time
                3/3 18:24
        .ps-scrollbar-x-rail{:style => "left: 0px; bottom: 3px;"}
          .ps-scrollbar-x{:sytle => "left: 0px; width: 0px;", :tabinex => "0"}
        .ps-scrollbar-y-rail{:style => "top: 0px; right: 3px;"}
          .ps-scrollbar-y{:sytle => "top: 0px; height: 0px;", :tabinex => "0"}
      .box_message_all_more
        %a.link_all_more{:href => "#/message"}
          すべて見る
