.ui-view.class_style
  .data-membership-point-log
    .main.box_member_view.contents_padding
      .common_page_header
        %span.page_tile.icon_square
          Pairsポイント履歴
      .common_page_box#detail_point
        %p.common_title
          Pairsポイント残高の内訳
        .common_box_inner
      .common_page_box#point_history
        %p.common_title
          Pairsポイントの履歴
        .common_box_inner
