%p.hr_date 3/5(月)
.their_message
  =link_to "" do
    =image_tag "https://lh3.googleusercontent.com/aID1PPSk4P-TlWFzYkJSB4_Dwdv3A3c5U0iZrEy6TXnyeJ4akneb7EVnuGrTIL6845cE7eFIiBUF53Yq2c6OIw8P2sv4hbZPC6_vNkZu7djY2O_OvPlmJFNwkn8kVBHzi1TaK5QItRieHFE-zT6cirS-G_sat3g632zGHQ4U20M1TUBv-qnBIFzefZVVgOhEgo_PLQO4_k4FCDukhdHZd5rIuAm65mPWqlWyzsjXXTvbovfT3mF9go9DeueTBj5SQahtC7Hy6o3HEyxm3i-10so_-xvK6N2CZE-v-bP5PPtTTcLQAHq-R5Z8NoeotpIZEOvArb8Xt2PRLPEtefK03iCJZBhJSmLopgtOocgsBJC-vVuz7WTI0qIG1DoLgFjwTvsHC0WfeSkLUeInYAQpFPW7l1WdK4LXJzrNdHqQ61-SFTuMiSLUYCczccuq_J0Br0dV9oihpXCpMHaprDuuf15QpD6JP1TdM8rLGdXgLXQWnhIDWvk0l_G7fhitky3CxadDsg30Ta7ApZoXVb5SSWP1VAUnmdT-bbAdPQbFsoWquM3Wem3J73843hyM5BK2qhH7NG3EgdBzvUu5DwvJWBOyROGSJpmrSqHYwpqGDlni4eGfwt_vPGz63o_K7bM2GbsqWL34JwsIslhtdVFDWcfLaG5elN7b=w204-h247-no", class: "their_photo image-circle"
  .box_message_info
    %p.message_user_name
      = message.user.nickname
    %p.message_text
      = message.content
    %p.message_send_time
      = message.created_at
