  .main_header {
    position: relative;
    z-index: 10;
    border-bottom: 1px solid #cbced0;
    background: #fff;
    box-shadow: 0 1px 2px rgba(94,94,94,.1);
    .box_header_inner {
      line-height: 1.0;
      position: relative;
      width: 928px;
      margin: 0 auto;
      padding: 14px 0;
      .header_logo {
        float: left;
        margin-top: -4px;
        margin-right: 12px;
        clear: both;
        a {
          transition: background-color .25s linear;
          text-decoration: none;
          color: inherit;
          outline: none;
          img {
            vertical-align: bottom;
          }
        }
      }
      .pairs_concept {
        font-size: 12px;
        // font-size: 1.2rem;
        // float: left;
        margin-top: 10px;
        letter-spacing: 1px;
        color: #a1a7ac;
      }



      .box_header_notifCenterd {
        float: right;
        .notifCentered_item {
          position: relative;
          float: left;
          width: 60px;
          list-style: none;
          .hide {
            text-align: center;
          }
        }
      }
    }
  }
