    .sidecontents {
      display: table-cell;
      height: 100%;
      width: 188px;
      padding-top: 15px;
      vertical-align: top;
      border-right: 1px solid #cbced0;
      border-left: 1px solid #cbced0;
      background-color: #f7f7f7;
      .sidemenu {
        height: 100%;
        width: 188px;
        padding-top: 15px;
        vertical-align: top;
        border-right: 1px solid #cbced0;
        border-left: 1px solid #cbced0;
        background-color: #f7f7f7;
        .my_profile_summary{
          margin-bottom: 12px;
          text-align: center;
          .profile_photo {
            margin-bottom: 12px;
            cursor: pointer;
          }
          .profile_name {
            font-size: 16px;
            // font-size: 1.6rem;
            margin-bottom: 2px;
          }
          .profile_status {
            color: #788086;
            text-align: center;
            font-size: 12px;
            // font-size: 1.2rem;
            font-weight: 700;
            padding-right: 3px;
          }
        }
        .my_profile_input_rate {
          margin: 0 20px 20px;
          .input_rate_label {
            font-size: 12px;
            // font-size: 1.2rem;
            margin-bottom: 2px;
            color: #788086;
            .input_rate_percent_value{
              font-weight: 700;
              display: inline-block;
              float: right;
              padding-left: 6px;
              text-align: right;
              color: #3db6e3;
            }
          }
          .box_input_rate_grahp {
            overflow: hidden;
            width: 100%;
            vertical-align: middle;
            border: 1px solid #cbced0;
            border-radius: 4px;
            background-color: #fff;
            .input_rate_grahp_value {
              width: 100%;
              height: 10px;
              background-color: #3db6e3;
            }
          }
        }
        .ml10 {
          margin-left: 10px!important;
        }
        .mb15 {
          margin-bottom: 15px!important;
        }
        .box_my_status {
          .my_statuse_list {
            height: 100%;
            border-width: 1px 0;
            border-style: solid;
            border-color: #cbced0;
            box-shadow: 0 1px 0 white;
            .my_status_item {
              float: left;
              box-sizing: border-box;
              width: 50%;
              padding: 10px 0;
              text-align: center;
              box-shadow: 1px 1px 0 white inset;
              list-style: none;
            }
            .leftover_like {
              border-right: 1px solid #cbced0;
              .status_label {
                font-size: 12px;
                // font-size: 1.2rem;
                margin-bottom: 2px;
                color: #788086;
              }
              .stats_value {
                font-size: 18px;
                // font-size: 1.8rem;
                margin-bottom: 2px;
              }
              .button_orange_a {
                color: #fff;
                background-color: #ffbe40;
                box-shadow: 0 3px 0 #dea22e;
              }
              .button_c {
                font-size: 12px;
                // font-size: 1.2rem;
                line-height: 1.0;
                display: inline-block;
                padding: 4px 10px 6px;
                border-radius: 30px;
              }
              #total_point_numbers {
                font-size: 18px;
                // font-size: 1.8rem;
                margin-bottom: 2px;
              }
            }
          }
        }
        .box_my_private_mode {
          border-width: 0 0 1px;
          border-style: solid;
          border-color: #cbced0;
          box-shadow: 0 1px 0 white;
          a {
            .box_pm {
              padding: 15px 10px;
              .pm_state_image {
                display: flex;
                display: -webkit-flex;
              }
              .pm_state_text {
                font-size: 12px;
                font-weight: 700;
                margin-top: 12px;
                text-align: center;
                color: #788086;
              }
            }
          }
        }
        .box_gnavi {
          .box_gnavis01 {
            padding: 20px 0 12px;
            border-bottom: 1px solid #cbced0;
            box-shadow: 0 1px 0 white;
            .gnavi_title {
              font-size: 13px;
              // font-size: 1.3rem;
              margin: 0 0 4px 20px;
              color: #bec3c9;
              .gnavi_item {
                font-size: 14px;
                font-size: 1.4rem;
                position: relative;
              }
            }
          }

          .box_gnavis02 {
            padding: 20px 0 12px;
            border-bottom: 1px solid #cbced0;
            box-shadow: 0 1px 0 white;
            .gnavi_title {
              font-size: 13px;
              // font-size: 1.3rem;
              margin: 0 0 4px 20px;
              color: #bec3c9;
              .gnavi_item {
                font-size: 14px;
                font-size: 1.4rem;
                position: relative;
              }
            }
          }

          .box_gnavis03 {
            padding: 20px 0 12px;
            border-bottom: 1px solid #cbced0;
            box-shadow: 0 1px 0 white;
            .gnavi_title {
              font-size: 13px;
              // font-size: 1.3rem;
              margin: 0 0 4px 20px;
              color: #bec3c9;
              .gnavi_item {
                font-size: 14px;
                font-size: 1.4rem;
                position: relative;
              }
            }
          }

          .box_gnavis04 {
            padding: 20px 0 12px;
            border-bottom: 1px solid #cbced0;
            box-shadow: 0 1px 0 white;
            .gnavi_title {
              font-size: 13px;
              // font-size: 1.3rem;
              margin: 0 0 4px 20px;
              color: #bec3c9;
              .gnavi_item {
                font-size: 14px;
                font-size: 1.4rem;
                position: relative;
              }
            }
          }
        }
      }
        .box_other_navi {
          padding: 20px;
        }
      }
