.search {
    width: 680px;
    background-color: red;
    position: relative;
    left: 17px;
    margin: 40px;
    height: 100px;
    font-size: 12px;
    table {
        width: 680px;
        tr {
            font-weight: 400;
            th {
                width: 22%;
                background-color: #f7f7f7;
                padding: 12px 17px;
                text-align: left;
                vertical-align: middle;
                border: 1px solid #cbced0;
            }
            td {
                padding: 12px 17px;
                text-align: left;
                vertical-align: middle;
                border: 1px solid #cbced0;
                background-color: #fff;
                margin: 5px 15px 5px 0;
                input[type=checkbox] {
                    display: inline-block;
                    margin: 5px 15px 5px 0;
                    display: none;
                }
                input[type=checkbox]:not(.not_use_default):checked+label {
                    color: #00abb3;
                }
                label {
                    margin: 5px 15px 5px 0;
                    font-size: 12px;
                    color: #788086;
                }
            }
        }
    }
    select {
        -webkit-appearance: none;
        background-color: white;
        border-radius: 20px;
        border: 1px solid #ccc;
        height: 29px;
        width: 180px;
        box-shadow: 0 2px 0 #c9c9c9;
        text-align-last: left;
        padding-left: 20px;
        font-size: 12px;
        color: #788086;
    }
    .f_collection_select {
        text-align: right;
    }
    #q_residence_id_eq {
        background-image: url(https://lh3.googleusercontent.com/UXCnlQv5WfYKh-sLoh2rMawCqty9T0sdhDNEnHA3tzWLOLlBZKIBRd_L7BnQIpRAReCzc-3ZHUqnp9OtfYvCx2yNfbHHpDJMb8kAz5iuWFrU4ECH0SKjqHp6lmFIUVdJORY8Ycv_vrI2wlMDI7y8S_3ZcQWnWAHQWcELrIwH2B2lO5TZ73S0kF-GFp7fT2PsgtSA7Wya0RB20XKCM3b5T7y5WdGaUEWkQqLx8n1sGP0xr-gQLJCL4xykjUvuzLJkEbiCA4Vrs7l2CYHI5wXTRNIdN7W6JHrXuvkt-nSJFoyZ_m2zmy5e4irZhzoeog9B3KEO3B4iy4LTa-_VxH7DW67aWj9uqbrgEGwnLKkN-VpqDAW5tt0j1OKXmF3e6yBHeJPtdteCipTC4z5YjBlK_uQJvPotiAVJ3DVilvv_FtrV34wZ5Q9DRRQtZHe9aGKlnc3GwfppaF7EJI0nStFV8Sq7nEHcjxKuhCymKhpa93GHmI385EgRBfOrAgLKUYS_I4mSyS6S3WRkhr1Y283Hi5uab37wJRXDcj5Hb5rhdPUjcZVeOhnj9nlnRRF2nqdvLX9Gyl2jn-5BsAPhZGKAaCz-RY4d3Z961J-X0SlG0yPp0MdmEyk2BYndjpQO5i_XsWYdBfHir6t3oVbtwMfhHkOJUlvqj3UD=w26-h51-no);
        // background-size: contain;
        background-repeat: no-repeat;
        height: 29px;
        width: 180px;
        background-position: right center;
        text-align: center;
        // position: relative;
        // left: 150px;
        // bottom: 25px;
        // border-radius: 20px;
    }
}