$fnt10: 1rem!important;
$fnt12: 1.2rem!important;
$fnt14: 1.4rem!important;

$30p: 30%!important;
$40p: 40%!important;
$50p: 50%!important;

$5: 5px!important;
$10: 10px!important;
$20: 20px!important;
$30: 30px!important;
$40: 40px!important;
