body {
  line-height: 1.4;
  height: 100%;
  word-break: break-all;
  color: #54595d;
  background: #fff;

  .wrapper {
    height: 100%;
    width: 928px;
    margin: 0 auto;
    display: flex;
  }
}



