.box_user_info01
  %p.user_summary
    %span.is_3days
    %span.user_area{limit_length: "5"}
    東京
    %span.user_age 23歳
.box_user_info03
  %p.user_chemistry.user_chemistry_a.is_chemistry_heart75_a
    60%
  %p.user_like_count.user_like_count_a
    %span
      %em 100
  .user_tweet
    .user_tweet_body
      = user.nickname
.box_button_like
  %div
    %span
      = form_for(current_user.following_relationships.build(following_id: user.id),html:{class: "button_like button_like_default button_pink_c button_like_view button_d"}) do |f|
        = f.hidden_field :following_id
        = f.submit "いいね！", class: "submitColor"
