.ui-view_class
  .main.box_community_view.contents_padding
    = render partial: "pairs/shared/advertising"
    .common_page_header.mb0
      コミュニティをさがす
    .box_community_header.common_inline_box
      検索ボックス
    .box_wrapper_inner
      .box_community_side
      .box_community_main
        .box_my_community
          .data-community-joined-communities
            .my_community_title.title_b
              あなたが参加しているコミュニティ(全
              %span.ommunity_total x
              件)
            .community_list_box.bg-white
              %ul.my_community_list
                / 0件の場合、コメント類は特に何も表示されない。
                %li.my_community_item
                  / プロフィール系が適用できそう。
            .box_community_pager.box_pager
        .box_everyone_community.popular_community
          繰り返し
          .data-community-popular-communities
            箇所と
            .everyone_community_title
              なりそうな為
            .community_list_box
              一箇所のみ
            .link_more_community
              作る方針（予定）
        .box_everyone_community.recommend_community
          - @communities.each do |community|
            = community.community_name
            = community.category
            = image_tag community.image.url, style: "hegiht:100px; width:100px;"
        .box_everyone_community.newcomer_community
        .box_everyone_community.fame_community



  .box_gnavis04
  =link_to "view（showビュー）", community_view_path,class: "sidemenu_link"
  .box_gnavis04
  =link_to "create（newビュー）", community_create_path,class: "sidemenu_link"
  .box_gnavis04
  =link_to "search（searchビュー）", search_communities_path,class: "sidemenu_link"
