.main_contents_style
  #pairs_search_page.main.box_search_view.contents_padding
    = render partial: "pairs/shared/notification"
    = render partial: "pairs/shared/advertising"
    = render partial: "pairs/shared/box_search_menu"


検索0の時の画像
https://lh3.googleusercontent.com/Qrj722mVD_uBShryF7Hl9WuFhNi2BJn0Ba-Q4ZZ-xGyafIel2k0m3o1Z00qdIvrXduFTt4H50GRd98v9oTaUhsh5g0K75DEro_Y7troBFnbO-WnQG20_Y-dCwxQ96LBMuCe5y7u0s1310yQ5JJyo2U01BdzmnbitI-Y4yT-t42XaKRYTHnjenhhF3bByZaJoex3eqnh7b8J-Y_Pf-a4uQh-5TIT3nXYoJSBiRE6zoX63TULmWfQtwdeDdMkKC47RcTGelnGZ9BIUogKyCDCMcnULhD3ouXEb3GsymzXdPcnluSWc-Ztnjszp12CNyT7I19wyN16X8wXbXkLj14_2stiP3wB2lW-OlE45oeyMPsrZeA2aDXYXuiHo0-3Yqop2zXne6_AeBow2Tx8NKLssjKGglLI-v-hGG_Zpv7umc7HDCfl4aL-sMk4ykQmKzb6mzKTHGKXeFhO8vdUIC5vU9FoQQLEjHkWqNZBKIvmyoxS9_hNvILD0UTQ1N8boqBFy_qaobOLfXoA-_s--639MDFx2AXaoRBINYWuZSWq7sqyr0E0E6Tk2I8B5IRkd9qd57uTMxKOMMlsgW-9V18a0_4vejFcYZFjEOZCplsU=w636-h119-no

真心
https://lh3.googleusercontent.com/ba9nVYxirKNIHiwxeHGm9PMwLoSDhMlk3dRAPzW9zL-C-pJlJU43xc4ds_gchFT--k1EpOCBm6Wu68CndAz6E_UqtBq9rhPkhjk3Iu93k6C5G6L0TjjpIpJJ9NNgj0XkSCn4F5Q8MQNXJl-0QBtGe3mUQKR6yyYzrOMIaSICFPlvF344EcgF1dhYMcFvtt_jqlEtp1Vyl3FD48AJWQUMx6I_2hJwT2Q2gtO0OmhgNasGM_ZVjWLLNxfmH5Z0nhvaYTVESWHSdCFmwIc3Me7Ou-qg81SJ1a1nE8uAXM8oHlkFSjoIst4JIwsaslUeGzkYjCT8TDEsm2gEOVx9-JTFurzmyt9xshT2EAJn7R8VhFRLPQpQ1v_MszOZO0tZPolyNIWEzvF3T9gIPxwI3YWY7OMKBsB0clBBvMnEnhdvN0ctnU-7ldjwS1Mcvv8dEZuqoymPu14NKrm2HY4YBTWSIgNEX1LoJacezMGQjmUMox3EtqRjhAWIeKW7zOFw6UPbgLa94Cq2v80AEymrZZQgE3RWwafJ8eAr287i407fij0WYQGZteXB8FNtR0eWTeKSEbF4p_isTLDedo0LmxYI0h_tgWL0rdieSZAlbE4=s46-no
